  
 <a href="{% url 'emc' %}" style="background-color: #737373;">EMC Dashboard</a>
 
{% for target in targets %}
<a href="{% url 'target-emc' target.id target.slug %}">{{target.name}} ({{target.target}})</a>
{% endfor %}
