{% load staticfiles %}
{% load all_targets %}
<!DOCTYPE html>
<html lang="en">
	<head>
		
		{% include 'include/css.html' %}
	</head>

	<body>
		
	{% include 'include/header.html' %}
		<!-- Header ends -->

		<!-- Container fluid Starts -->
		<div class="container-fluid">

		{% include 'include/navbar.html' %}
			<!-- Navbar ends -->

			<!-- Dashboard wrapper starts -->
		<div class="dashboard-wrapper">

				<!-- Top bar starts -->
		{% block page_top_bar %}
				
		{% endblock %}

				<!-- Main container starts -->
		<div class="main-container">
		

					
					<!-- Row ends -->
		<div class="row gutter">
		    <div class="col-lg-3 border-right" >
		        <div class="vertical-menu">
		          <a href="#" class="active">Targets</a>
		           <form class="form-inline my-2 my-lg-0 pushdown" method="GET" action="{% url 'search' %}"  >
						  <div class="form-group">
						   <input type="text" class="form-control mr-sm-2" name="q" placeholder="Search" value="{{request.GET.q}}" />
						  </div>
						  
						 
						  <button type="submit" class="btn btn-info my-2 my-sm-0 btnright">Submit</button>
						</form>
						<div class="pushdown">
							{% block right_navbar %}
							{% endblock %}
							{% get_all_targets %}

		            
			      </div>
		        </div>
		    </div>
		    <div class="col-lg-9">
		    	{% block content %}
		    	{% endblock %}
		    </div>
		</div>
					
	</div>
				<!-- Main container ends -->
			
	</div>
			<!-- Dashboard Wrapper End -->
	</div>
		
		<!-- Container fluid ends -->

		<!-- Footer Start -->
		{% include 'include/footer.html' %}
		<!-- Footer end -->

		{% include 'include/js.html' %}




		{% block javasccript %}
		{% endblock %}
	
	</body>
</html>