{% extends 'emc/base.html' %}

{% block page_top_bar %}

              <div class="top-bar clearfix">
                    <div class="row gutter">
                        <div class="col-lg-3 col-md-3 col-sm- col-xs-12">
                            <div class="page-title" style="font-size: 9px;">
                                <h4> Exploit Management Center </h4>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="float: right; text-align: right;">
                            {% if target %}
                            <a href="" class="btn button btn-sm btn-black">Exploit</a>
                            <a href="" class="btn button btn-sm btn-black" >Exploit Results</a>
                            
                            {% endif %}
                        </div>
                    </div>
                </div>
{% endblock %}

{% block content %}

<h4 class="bluecolor">{{target|upper}}' S EXPLOIT MANAGEMENT CENTER</h4>

{% endblock  %}