{% extends 'emc/base.html' %}

{% block page_top_bar %}

              <div class="top-bar clearfix">
                    <div class="row gutter">
                        <div class="col-lg-3 col-md-3 col-sm- col-xs-12">
                            <div class="page-title" style="font-size: 9px;">
                                <h4> Exploit Management Center </h4>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                         <!--    <ul class="nav nav-tabs" role="tablist">
                                
                                        <li role="presentation" ><a href="#whois" aria-controls="whois" role="tab" data-toggle="tab">Exploit Center</a></li>
                                        <li role="presentation"><a href="#dns" aria-controls="profile" role="tab" data-toggle="tab">Results</a></li>
                                        <li role="presentation"><a href="#ports" aria-controls="messages" role="tab" data-toggle="tab">Files</a></li>
                                       
                                    </ul> -->
                        </div>
                    </div>
                </div>
{% endblock %}

{% block content %}
<h4 class="bluecolor"> EMC DASHBOARD</h4>



{% endblock  %}