{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<div class="container">
<div class="row">
     <!-- left -->
        <div class="col-md-3">
       
        </div>
        <!--/ left -->
        
<div class="col-md-6">
    <h1>{% trans "Reset Password " %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
       {% bootstrap_form form %}
        <input class="btn btn-primary btn-block " type="submit" value="{% trans 'Submit Email' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you are experiencing any problems resetting your password.{% endblocktrans %}</p>
</div>
</div>
</div>
{% endblock %}
