{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {%  bootstrap_form form %}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
  </div>
</div>

{% endblock %}
