{% extends "account/base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
<div class="row">
     <!-- left -->
        <div class="col-md-3">
        {% include 'includes/left_profile_menus.html' %}
        </div>
        <!--/ left -->
        
        
  <div class="col-md-6">

    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
  </div>
</div>
</div>
{% endblock %}
