{% extends 'social/base.html' %}
{% block page_top_bar %}
<style type="text/css">
  
</style>
              <div class="top-bar clearfix">
                    <div class="row gutter">
                        <div class="col-lg-3 col-md-3 col-sm- col-xs-12">
                            <div class="page-title" style="font-size: 9px;">
                                <h4> Social Engineering Center </h4>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                         <!--    <ul class="nav nav-tabs" role="tablist">
                                
                                        <li role="presentation" ><a href="#whois" aria-controls="whois" role="tab" data-toggle="tab">Exploit Center</a></li>
                                        <li role="presentation"><a href="#dns" aria-controls="profile" role="tab" data-toggle="tab">Results</a></li>
                                        <li role="presentation"><a href="#ports" aria-controls="messages" role="tab" data-toggle="tab">Files</a></li>
                                       
                                    </ul> -->
                        </div>
                    </div>
                </div>
{% endblock %}
{% block content %}
<div class="table-responsive">
				<table id="fixedHeader" class="table table-striped  no-margin">
    <thead style="background-color: #2698e2 !important;">
		        <tr>
		            <th>Email</th>
		            <th>Target Name</th>
		            <th>Target Domain</th>
		            <th sty>Action</th>
		        </tr>
    		</thead>
    <tbody>
        {% for email in emails %}
			<tr>
				<td>{{email.email_records}}</td>
				<td>{{email.target.name}}</td>
				<td>{{email.target.target}}</td>
				<td > <a href="{% url 'campaigns' %}" class="button btn btnright btn-sm btn-danger">Launch Campaign</a></td>
		
        </tr>
        
			{% endfor %}
    </tbody>
    
</table>
			</div>
{% endblock %}