  


<a href="{% url 'campaigns' %}">Campaigns</a>

<a href="{% url 'groups' %}">Users & Groups</a>
<a href="{% url 'templates' %}">Email Templates</a>
<a href="{% url 'landing_pages' %}">Landing Pages</a>
<a href="{% url 'sending_profiles' %}">Sending Profiles</a>