{% load staticfiles %}
{% load gophish_links %}
<!DOCTYPE html>
<html lang="en">
	<head>
		
		{% include 'include/css.html' %}
	</head>

	<body>
		
	{% include 'include/header.html' %}
		<!-- Header ends -->

		<!-- Container fluid Starts -->
		<div class="container-fluid">

		{% include 'include/navbar.html' %}
			<!-- Navbar ends -->

			<!-- Dashboard wrapper starts -->
		<div class="dashboard-wrapper">

				<!-- Top bar starts -->
		<div class="top-bar clearfix">
    <div class="row gutter">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="page-title" style="font-size: 9px;">
                <h4> Gophish </h4>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
         <!--    <ul class="nav nav-tabs" role="tablist">
                
                        <li role="presentation" ><a href="#whois" aria-controls="whois" role="tab" data-toggle="tab">Exploit Center</a></li>
                        <li role="presentation"><a href="#dns" aria-controls="profile" role="tab" data-toggle="tab">Results</a></li>
                        <li role="presentation"><a href="#ports" aria-controls="messages" role="tab" data-toggle="tab">Files</a></li>
                       
                    </ul> -->
        </div>
    </div>
</div>
		

				<!-- Main container starts -->
		<div class="main-container">
		{% if messages %}
	      <ul>
		{% for message in messages %}
	    <div class="alert alert-success ">
	    <p>{{message}}</p>
	     </div>
	    
		{% endfor %}
	      </ul>
	    {% endif %}

					
					<!-- Row ends -->
		<div class="row gutter">
		    <div class="col-lg-2 border-right" >
		        <div class="vertical-menu">
		          <a href="#" class="active">Dashboard</a>
						<div class="pushdown">
							{% block right_navbar %}
							{% endblock %}
							{% get_gophish %}

		            
			      </div>
		        </div>
		    </div>
		    <div class="col-lg-10">
		    	{% block content %}
		    	{% endblock %}
		    </div>
		</div>
					
	</div>
				<!-- Main container ends -->
			
	</div>
			<!-- Dashboard Wrapper End -->
	</div>
		
		<!-- Container fluid ends -->

		<!-- Footer Start -->
		{% include 'include/footer.html' %}
		<!-- Footer end -->

		{% include 'include/js.html' %}




		{% block javasccript %}
		{% endblock %}
	
	</body>
</html>