{% extends 'social/gophish_base.html' %}
{% block page_top_bar %}
Campaigns

{% endblock %}
{% block content %}
    <!-- {% if data %}
	{% for d in data %}
      {{d.id}} , {{d.name}}, {{d.status}}, {{d.created_date}}, {{d.launch_date}}, {{d.template.name}}, {{d.page.name}}, 
      {{d.smtp.name}}, {{d.url}}<br>

      {% endfor %}
			
   {% else %}
   {% endif %} -->
   <h4 class="bluecolor">Landing Pages</h4>
   {% if pages %}
   <div class="table-responsive">
    <a href="" class="button btn btn-black btn-sm"><span class="icon-plus4"></span> New Page </a>
    <table id="fixedHeader" class="table table-striped  no-margin">
        <thead style="background-color: #2698e2 !important;">
            <tr>
                <th>Name</th>
               
                <th>Modified Date</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {% for data in pages %}
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.modified_date}}</td>
                <td > 
                <a href="" class="button btn btn-sm btn-black"><span class="icon-chart"></span></a> 
                <div class="btn-divider" />

               
                <a href="" class="button btn  btn-sm btn-danger"> <span class="icon-delete"></span></a></td>
        
        </tr>
       
            {% endfor %}
        </tbody>
    
    </table>
    </div>
    {% else %}
    <div class="alert alert-info light">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="icon-verified_user"></i> No Campaigns created yet
    </div>
    {% endif %}
{% endblock %}