{% extends 'social/gophish_base.html' %}
{% block page_top_bar %}
Campaigns

{% endblock %}
{% block content %}
    <!-- {% if data %}
	{% for d in data %}
      {{d.id}} , {{d.name}}, {{d.status}}, {{d.created_date}}, {{d.launch_date}}, {{d.template.name}}, {{d.page.name}}, 
      {{d.smtp.name}}, {{d.url}}<br>

      {% endfor %}
			
   {% else %}
   {% endif %} -->
   {% if templates %}
   <h4 class="bluecolor">Email Templates</h4>
   <div class="table-responsive">
    <a href="#d_target" data-toggle="modal" class="button btn btn-black btn-sm"><span class="icon-plus4"></span> New Email Template </a>


     <div class="modal fade " id="d_target" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Define  New Email Template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" method="post" action="">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group has-info">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="form-group">
    <label for="formGroupExampleInput">Name </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Subject</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>                
                                       
                                                            
                            </div>
                        </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" value="btnform2" name= "btnform2" class="btn btn-info">Save Target</button>
          </div>
             </form>                    
        </div>
      </div>
    </div>
    <table id="fixedHeader" class="table table-striped  no-margin">
        <thead style="background-color: #2698e2 !important;">
            <tr>
                <th>Name</th>
               
                <th>Modified Date</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {% for data in templates %}
            <tr>
                <td>{{data.name}}</td>
               
                <td>{{data.modified_date}}</td>
                <td > 
                <a href="" class="button btn btn-sm btn-black"><span class="icon-chart"></span></a> 
                <div class="btn-divider" />

               
                <a href="" class="button btn  btn-sm btn-danger"> <span class="icon-delete"></span></a></td>
        
        </tr>
       
            {% endfor %}
        </tbody>
    
    </table>
    </div>
    {% else %}
    <div class="alert alert-info light">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="icon-verified_user"></i> No Campaigns created yet
    </div>
    {% endif %}
{% endblock %}