{% load staticfiles %}
<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="SCOT" />
		<meta name="keywords" content="" />
		<meta name="author" content="SCOT" />
		<link rel="shortcut icon" href="img/favicon.ico">
		
		<title>SCOT -Strategic Cyber Offensive Target</title>
		<!-- Bootstrap CSS -->
		<link href="{% static 'new/css/bootstrap.min.css' %}" media="screen" rel="stylesheet" />

		<!-- Main CSS -->
		<link href="{% static 'new/css/main.css' %}" rel="stylesheet" media="screen" />

		<!-- Ion Icons -->
		<link href="{% static 'new/fonts/icomoon/icomoon.css' %}" rel="stylesheet" />
		
		<!-- C3 CSS -->
		<link href="{% static 'new/css/c3/c3.css' %}" rel="stylesheet" rel="stylesheet" />

		<!-- Circliful CSS -->
		<link href="{% static 'new/css/circliful/circliful.css' %}" rel="stylesheet" />

		<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

			<link rel="stylesheet" href="{% static 'new/css/datatables/dataTables.bs.min.css' %}">
		<link rel="stylesheet" href="{% static 'new/css/datatables/autoFill.bs.min.css' %}">
		<link rel="stylesheet" href="{% static 'new/css/datatables/fixedHeader.bs.css' %}">
		<link href="{% static 'notify/notify.css' %}" rel="stylesheet"/>
		<script type="text/javascript" src="{% static 'notify/jquery-2.1.4.js' %}"></script>
		<!-- include the notif-js -->
		<script type="text/javascript" src="{%static 'notify/notify.js' %}"></script>


