{% load staticfiles %}    
<header>

			<!-- Logo starts -->
			<a href="/" class="logo">
				<h1 style="color: red; font-weight: bold;">SCOT</h1>
			</a>
			<!-- Logo ends -->

			<!-- Header actions starts -->
			<ul id="header-actions" class="clearfix">
				
				<li class="list-box hidden-xs dropdown">
					<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-archive2"></i>
					</a>
					<span class="info-label red-bg">0</span>
					<ul class="dropdown-menu stats-widget clearfix">
						<!-- Notifications Goes Here-->
					
					</ul>
				</li>
				<li class="list-box user-admin dropdown">
					{% if user.is_authenticated %}
					<div class="admin-details">
						<div class="name bluecolor">{{user.email}}</div>
						
					</div>
					<a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-account_circle" style="font-size: 15px;"></i>
					</a>
					<ul class="dropdown-menu sm">
						<li class="dropdown-content">
							<a href="">User Management</a>
							<a href="">Change Password</a>
							<a href="{% url 'account_logout' %}">Logout</a>
						</li>
					</ul>
					{%else %}
					
			
					{% endif %}
				</li>
			</ul>
		</header>
