{% load staticfiles %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{% static 'new/js/jquery.js' %}"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'new/js/bootstrap.min.js' %}"></script>

		<!-- Sparkline Graphs -->
		<script src="{% static 'new/js/sparkline/retina.js' %}"></script>
		<script src="{% static 'new/js/sparkline/custom-sparkline.js' %}"></script>
		
		<!-- jquery ScrollUp JS -->
		<script src="{% static 'new/js/scrollup/jquery.scrollUp.js' %}"></script>

		<!-- D3 JS -->
		<script src="{% static 'new/js/d3/d3.v3.min.js' %}"></script>

		<!-- C3 Graphs -->
		<script src="{% static 'new/js/c3/c3.js' %}"></script>
		<script src="{% static 'new/js/c3/c3.custom.js' %}"></script>

		<!-- JVector Map -->
		<script src="{% static 'new/js/jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
		<script src="{% static 'new/js/jvectormap/world-mill-en.js' %}"></script>
		<script src="{% static 'new/js/jvectormap/gdp-data.js' %}"></script>
		<script src="{% static 'new/js/jvectormap/world-map.js' %}"></script>

		<!-- Circliful js -->
		<script src="{% static 'new/js/circliful/circliful.min.js' %}"></script>
		<script src="{% static 'new/js/circliful/circliful.custom.js' %}"></script>

		<!-- Peity JS -->
		<script src="{% static 'new/js/peity/peity.min.js' %}"></script>
		<script src="{% static 'new/js/peity/custom-peity.js' %}"></script>

		<!-- Custom JS -->

		<!-- DataBars JS -->
		<script src="{% static 'new/js/databars/jquery.databar.js' %}"></script>
		<script src="js/databars/custom-databars.js' %}"></script>

		<!-- Data Tables -->
		<script src="{% static 'new/js/datatables/dataTables.min.js' %}"></script>
		<script src="{% static 'new/js/datatables/dataTables.bootstrap.min.js' %}"></script>
		<script src="{% static 'new/js/datatables/autoFill.min.js' %}"></script>
		<script src="{% static 'new/js/datatables/autoFill.bootstrap.min.js' %}"></script>
		<script src="{% static 'new/js/datatables/fixedHeader.min.js' %}"></script>
		<script src="{% static 'new/js/datatables/custom-datatables.js' %}"></script>
		<script src="{% static 'new/js/custom.js' %}"></script>	

	<script type="text/javascript">

    window.setTimeout(function() {
    $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
        $(this).remove(); 
    });
}, 4000);
    </script>
