<nav class="navbar navbar-default">
				<div class="navbar-header">
					<span class="navbar-text">Menu</span>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="collapse-navbar">
					<ul class="nav navbar-nav">
						<li class="{% if nbar == 'home' %}active{% endif %}">
							<a href="/"><i class="icon-blur_on"></i>HOME </a>
						</li>
						
						
						<li class="dropdown {% if request.resolver_match.url_name == 'targets' %}active{% endif %} {% if request.resolver_match.url_name == 'scan' %}active{% endif %} {% if request.resolver_match.url_name == 'details' %}active{% endif %}">
							<a href="{% url 'targets' %}" ><i class="icon-circular-graph"></i> TARGETS SCANNER DASHBOARD </span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'targets' %}">TARGETS SCAN</a>
								</li>
								<li>
									<a href=''>TARGETS MANAGEMENT</a>
								</li>
								
							</ul>
						</li>

						<li class="dropdown {% if request.resolver_match.url_name == 'emc' %}active{% endif %}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-lock2"></i> EXPLOIT MANAGEMENT CENTRE <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li >
									<a href="{% url 'emc' %}">SERVICE EXPLOITATION</a>
								</li>
								<li >
									<a href="{% url 'emc' %}">WEB APPLICATION EXPLOITATION</a>
								</li>
								<li >
									<a href=''>LOOT REPOSITORY MANAGEMENT</a>
								</li>
								
							</ul>
						</li>
						<li class="dropdown {% if request.resolver_match.url_name == 'weaponstore' %}active{% endif %}" >
							<a href="{% url 'weaponstore' %}" ><i class="icon-terrain"></i>WEAPON STORE </a>
						</li>
						<li class="dropdown {% if request.resolver_match.url_name == 'socialemails' %}active{% endif %}">
							<a href="{% url 'socialemails' %}"><i class="icon-target2"></i>LANISTER</a>
						</li>

						<li class="">
							<a href=""><i class="icon-sound-mix"></i>USE CASE MANAGER</a>
						</li>


						<li class="">
							<a href=""><i class="icon-spinner9"></i>SPECTRUM</a>
						</li>
						

						
						
						
					</ul>
				</div>
				 {% if messages %}
				  {% for message in messages %}
				  <script>
				         notify('{{message.level_tag}}', "{{message}}");
				    </script>
				    
				  {% endfor %}
				      
			    {% endif %}

			</nav>
