{% extends 'social/base.html' %}
{% block page_top_bar %}
    <div class="top-bar clearfix">
                    <div class="row gutter">
                        <div class="col-lg-3 col-md-3 col-sm- col-xs-12">
                            <div class="page-title" style="font-size: 9px;">
                                <h4> Social Engineering Center </h4>
                            </div>
                        </div>
                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="float: right; text-align: right;">
                            
                            <a href="" class="btn button btn-sm btn-black">Server</a>
                            <a href="" class="btn button btn-sm btn-black" >Client</a>
                            
                       
                        </div>
                    </div>
                </div>
{% endblock %}
{% block content %}
<div class="row gutter">
    <div class="panel-body">
                                    <ul class="social-buttons clearfix">
                                        <li class="facebook">
                                            <a href="#"><i class="icon-description"></i>Documents</a>
                                        </li>
                                        <li class="twitter">
                                            <a href="#"><i class="icon-news"></i>EXCELS</a>
                                        </li>
                                        <li class="gplus">
                                            <a href="#"><i class="icon-file-pdf"></i>PDFS</a>
                                        </li>
                                        <li class="blog">
                                            <a href="#"><i class="icon-image4"></i>PPT</a>
                                        </li>
                                       
                                    </ul>
                                </div>
</div>
{% endblock %}