    .navigation {
  width: 300px;
  
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: black;
  text-decoration: none;
  padding: 10px;
  color: white;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: #C5C5C5;
    color: black;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #999;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #666;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
.panel-heading {
    position: relative;
    padding: 12px 15px;
    border: 0;
    background-color: red;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(85%, #ff0000), to(#f2f2f2));
    background-image: -webkit-linear-gradient(black, black 85%, #f2f2f2);
    background-image: -moz-linear-gradient(top, black, black 85%, #f2f2f2);
    background-image: -o-linear-gradient(black, black 85%, #f2f2f2);
    background-image: linear-gradient(red, black 85%, #f2f2f2);
    background-repeat: no-repeat;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #dbdbdb;
    color: white;
}