
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Strategic Cyber Offensive Target | SCOT</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/visualization/d3/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/ui/moment/moment.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/daterangepicker.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/dashboard.js' %}"></script>
	<link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">
	<!-- /theme JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/visualization/echarts/echarts.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/charts/echarts/funnels_chords.js' %}"></script>

	<style type="text/css">
		thead{
	background-color:#28343a; 
	color: white;"
     }
	</style>
	{% block javasccript %}
	{% endblock %}
<script type="text/javascript">

    window.setTimeout(function() {
    $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
        $(this).remove(); 
    });
}, 4000);
    

    </script>
</head>

<body class="navbar-top">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><font size="+4">SCOT</font></a>

			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav">
				<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>

				
			</ul>

			

			<ul class="nav navbar-nav navbar-right">
				
				{% if user.is_authenticated %}
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="assets/images/placeholder.jpg" alt="">
						<span>Sarah</span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
						
						<li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
					</ul>
				</li>
				{% else %}
				<li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">

			


					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">

								<!-- Main -->
								<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
								<li><a href="/"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
								<li><a href="{% url 'targets' %}"><i class="icon-home4"></i> <span>Targets</span></a>
								</li>
								<li><a href=""><i class="icon-home4"></i> <span>Run Vulnerability Scan</span></a>
								</li>
							{% block navbar %}							
							
								{% endblock %}
								<!--
								<li>
									<a href="#"><i class="icon-copy"></i> <span>Analytics</span></a>
									<ul>
										<li><a href="" id="layout1">Filters</a></li>
										
									</ul>
								</li>
								<li>
									<a href="#"><i class="icon-droplet2"></i> <span>Exploit Results</span></a>
									<ul>
										<li><a href="">Filters</a></li>
									
										
									</ul>
								</li>
								-->
								
								<!-- /page kits -->

							</ul>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->
				
				
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">
					{% if messages %}
				      <ul>
					{% for message in messages %}
				    <div class="alert alert-success ">
				    <p>{{message}}</p>
				     </div>
				    
					{% endfor %}
				      </ul>
				    {% endif %}

					{% block content %}
					<!-- Dashboard content -->
					
					{% endblock %}
					<!-- /dashboard content -->


					<!-- Footer -->
					
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
