{% extends 'scot/base.html' %}
{% block content %}
<script>
    function frmValidate() {
        var val = document.frmDomin;
            if (/^((?!-))(xn--)?[a-z0-9][a-z0-9-_]{0,61}[a-z0-9]{0,1}\.(xn--)?([a-z0-9\-]{1,61}|[a-z0-9-]{1,30}\.[a-z]{2,})$/.test(val.name.value)) {
            	return true;
                   }
        else {
            alert("Enter Valid Domain Name");
            val.name.focus();
            return false;
        }
    }


 //   function validateEmail(email) { 
 //    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
 //    return re.test(email);
 // } 


 // function continueOrNot() {
 //    if(validateEmail(document.getElementById('emailfield').value)){
 //    alert('valid'); return true;
 //    }else{ alert("email not valid"); return false;}
 // }
</script>

						
                         {% if target %}

                         	<div style="text-align: center;">
									<h6 class="panel-title">{{domain}} Basic Information</h6>
								
							<div>
									<table class="table text-nowrap">
										<thead>
											<tr>
												
												<th class="col-md-2">Target</th>
												<th class="col-md-2">Name</th>
												<th class="col-md-2">Country</th>
												<th class="col-md-2">Industry/Sector</th>
												<th >IP</th>
												<th class="col-md-2">Status</th>
												<th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
											</tr>
										</thead>
										<tbody>
										
											
										

										
											
											<tr>
												<td>
													
													<div class="media-left">
														<div class="">{{target.target}}</div>
													</div>
												</td>
												<td>{{target.domain}}</td>
												<td>{{target.country}}</td>
												<td>{{target.category}}  {{target.sector}}</td>
												<td>{{target.ip}}</td>
												<td>{% if target.status == "up" %}<i class=" icon-circle2" style="color: green"></i>{% else %}<i class=" icon-circle2" style="color: red;"></i>{% endif %}</td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href=""><i class="icon-file-stats"></i>Previous Scans</a></li>
																<li>

																<!-- 	<input type="button" name="{{target.slug}}" class="scan btn-sm btn-primary" value="Run a new Scan" /> -->



																	<a href=""  id="do-task"><i class="icon-file-text2"></i> Run a new Scan</a></li>
																<li><a href="#"><i class="icon-file-locked"></i> Exploit</a></li>
																
															</ul>
														</li>
													</ul>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								{% else %}
								{% if results %}
								<div style="text-align: center;">
									<h6 class="panel-title">The target {{domain}} does not exist  in the system</h6>
									
									Below are the target's web search results. {% if ip %} Target IP: <font color="#42A5F5">{{ip}}</font> , status:  <font color="#42A5F5">{{status}}</font> {% endif %}
									<!-- <a href=""> Run New Scan on this domain</a>

								 -->
								 {% if messeages %}
								 {% else %}
								 <a href="#d_target" data-toggle="modal" class="btn btn-primary btn-sm" style="float: right;"> Add this target to the List</a>
								 <div class="modal fade " id="d_target" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title" id="exampleModalLabel">Define a New Target</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									      <div class="modal-body">
									        <form class="form-horizontal" method="post" action="{% url 'add_target' %}">
									        	{% csrf_token %}
									        		<fieldset>
														<div class="form-group">
															<div class="col-md-10 col-md-offset-1">
																<div class="input-group">
																	<input type="text" value="{{domain}}" class="form-control" name="domain" placeholder="example.com">
																	<span class="input-group-btn">
																		<button class="btn btn-default ">Target Domain</button>
																	</span>
																</div>
																<p></p>
																<div class="input-group">
																	<input type="text" class="form-control"  name="name" placeholder="example LTD">
																	<span class="input-group-btn">
																		<button  class="btn btn-default ">Target Name</button>
																	</span>
																</div>
																<p></p>
																<div class="input-group">
																	<input type="text" class="form-control" name="country" placeholder="Kenya">
																	<span class="input-group-btn">
																		<button  class="btn btn-default ">Target Country</button>
																	</span>
																</div>
																<p></p>
																<div class="input-group">
																	<input type="text" class="form-control" id="name" name="sector" placeholder="Energy Sector">
																	<span class="input-group-btn">
																		<button  class="btn btn-default ">Target Sector</button>
																	</span>
																</div>
																<input type="hidden" class="form-control" id="ip" name="ip" value="{{ip}}" placeholder="Energy Sector">
																<input type="hidden" class="form-control"  name="status" value="{{status}}" placeholder="Energy Sector">
															</div>
														</div>
													</fieldset>

									       
									       
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									        <button type="submit" class="btn btn-primary">Save Target</button>
									      </div>
											 </form>					
									    </div>
									  </div>
									</div>
								 {% endif %}
							    </div>
							    <div style="text-align: left;">
							    	<table class="table">
							    		<thead>
							    			<th>Title</th>
							    			<th>Url</th>
							    		</thead>
							    	
							    	<tbody>
							    		{% for r in results %}
							    		<tr>
							    			{% for m in r %}
							    			<td><a href="{{m}}" target="_blank">{{m}}</a></td>
							    			{% endfor %}
							    		</tr>
							          {% endfor %}
							    		
							    	</tbody>
								</table>
								{% if no %}
								{% else %}

								{% endif %}
								


							{% endif %}

							



						</div>

					</div>


{% endblock  %}



<!-- <form method="post" action="register.php" name="frmDomin" enctype="multipart/form-data" onsubmit="return frmValidate()">
<table>
<tr><td>Email:</td></tr>
<tr><td><input type="text" size="30" name="name" id="name"> </td></tr>
<tr><td>Password:</td></tr>
<tr><td><input type="password" size="30" name="password"> </td></tr>
</table>
<input name="steptwo" value="Create Account" type="submit" />
</form> -->