{% extends 'scot/base.html' %}
{% load staticfiles %}
{% block javasccript %}
<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
{% if task_id %}
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
     <script type="text/javascript">
        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
            $(function () {
              CeleryProgressBar.initProgressBar(progressUrl)
            });


    </script>
{% endif %}
{% endblock %}
{% block content %}


<div class="row">
<div class="col-lg-12">

            
              <div class="panel panel-flat">

                <div class="page-header page-header-default">
          <div class="page-header-content">
              <div class="heading-btn-group">
        
              </div>
          
          </div>

      
        </div>
      
                
                                    <div class="row">
                                     <div class="col-md-8 col-md-offset-2">   
                               
                            <!--         <form class="form-inline" action="." method="post">
                                      {% csrf_token %}
                        <div class="form-group">
                          <label for="sel1">Country:</label>
                          <select class="form-control" id="country" name="country" class='form-control' required>
                            <option disabled value="" selected hidden >Select Country</option>
                            {% for object in objects_list %}
                            
                            <option value="{{object.id}}">{{object.country}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      <div class="form-group">
                        <label for="sel1">Target Category:</label>
                        <select class="form-control" id="category" name="category" required onchange="this.form.submit()">
                            <option selected disabled value="" hidden>Select Category</option>
                          {% for query in queryset %}
                          <option value={{query.id}}>{{query.category}}</option>
                            {% endfor %}
                        </select>
                      </div>
                       <button type="submit" class="btn btn-primary">View</button>-->
                    </form> 
                   </div>
                  </div>
                         <hr />

                         {% if targets %}
                          <div style="text-align: center;">
                  <h6 class="panel-title">Targets being monitored</h6>
                
              <div>
                  <table class="table text-nowrap">
                    <thead >
                      <tr>
                        
                        <th >Target Name</th>
                        <th >Domain</th>
                        <th >Country</th>
                        <th >Industry/Sector</th>
                        <th >Status</th>
                        <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
                      </tr>
                    </thead>
                    <tbody>
                    
                      
                    

                    
                      {% for target in targets %}
                      <tr>
                        <td>
                          
                          <div class="media-left">
                            <div class="">{{target.target}}</div>
                          </div>
                        </td>
                        <td>{{target.domain}}</td>
                        <td>{{target.country}}</td>
                        <td>{{target.category}} | {{target.sector}}</td>
                        <td>{% if target.status == "up" %}<i class=" icon-circle2" style="color: green"></i>{% else %}<i class=" icon-circle2" style="color: red;"></i>{% endif %}</td>
                        <td class="text-center">
                          <ul class="icons-list">
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="{% url 'details' target.id %}">Previous Scans</a></li>
                                <li><a href="{% url 'scan' target.id %}">Run New Full Scan</a></li>
                                <li><a href="{% url 'scan' target.id %}">Run Vulnerability Scan</a></li>
                                
                              </ul>
                            </li>
                          </ul>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  <progress class="progress-bar" value="0"  style="display:none; margin-bottom: 1em;"></progress>
                </div>


              {% endif %}

          

              </div>
              <!-- /marketing campaigns -->






            </div>
              <h4>Scan Progress</h4>
              <div class='progress-wrapper'>
                <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
              </div>
             
              <div id="progress-bar-message">Waiting for progress to start...</div>
              <p>Wait till the scan progress shows success then click <a href="{% url 'details' target.id %}">here to view scan results</a>  
                <a href="{% url 'cancel_scan' task_id %}" class="button btn btn-sm btn-primary" style="float: right;">Cancel Scan</a>
          </div>




<!-- <script type="text/javascript">
  {% if targets %}
    var frm = $('.{{target.slug}}');
    var pgrbar = $('.progress-bar');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                if (data.task_id != null) {
                    get_task_info(data.task_id);
                }
            },
            error: function (data) {
                console.log("Something went wrong!");
            }
        });
        return false;
    });

    function get_task_info(task_id) {
        $.ajax({
            type: 'get',
            url: '/get-task-info/',
            data: {'task_id': task_id},
            success: function (data) {
                frm.html('');
                if (data.state == 'PENDING') {
                    frm.html('Please wait...');
                }
                else if (data.state == 'PROGRESS' || data.state == 'SUCCESS') {
                    pgrbar.css('display', 'inline');
                    pgrbar.val(data.result.percent);
                    frm.html(data.result.desc + data.result.current + ' out of ' + data.result.total);
                }
                if (data.state != 'SUCCESS') {
                    setTimeout(function () {
                        get_task_info(task_id)
                    }, 1000);
                }
            },
            error: function (data) {
                frm.html("Something went wrong!");
            }
        });
    
    {% endif %}
</script> -->
{% endblock  %}