{% extends 'scot/base.html' %}

{% block navbar %}                      
{% endblock %}

{% block content %}
<style type="text/css">
    .nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

</style>
<div class="row">
                        <div class="col-lg-12" style="background-color: white;">

                  <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#whois" aria-controls="whois" role="tab" data-toggle="tab">Whois/Dig</a></li>
                                        <li role="presentation"><a href="#dns" aria-controls="profile" role="tab" data-toggle="tab">DNS Records</a></li>
                                        <li role="presentation"><a href="#ports" aria-controls="messages" role="tab" data-toggle="tab">Ports</a></li>
                                        <li role="presentation"><a href="#hosts" aria-controls="settings" role="tab" data-toggle="tab">Hosts</a></li>
                                        <li role="presentation"><a href="#vhosts" aria-controls="settings" role="tab" data-toggle="tab"> Virtual Hosts</a></li>
                                        <li role="presentation"><a href="#emails" aria-controls="settings" role="tab" data-toggle="tab">Emails</a></li>
                                        <li role="presentation"><a href="#pagelinks" aria-controls="settings" role="tab" data-toggle="tab">Pagelinks</a></li>
                                        <li role="presentation"><a href="#app_info" aria-controls="settings" role="tab" data-toggle="tab">App Technologies</a></li>
                                        <li role="presentation"><a href="#server_info" aria-controls="settings" role="tab" data-toggle="tab">Server Info</a></li>

                                       <!--  <li role="presentation"><a href="#info" aria-controls="settings" role="tab" data-toggle="tab">App Information</a></li> -->
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="whois">
<table class="table">
                                <tr>
                                    <td>
                                     <h9>IP :</h9>
                                 </td>
                                 <td>
                                   
                                        {% for data in whois_data %}
                                     {{data.ip}}
                                        {% endfor %}
                                   
                                    <!--<h9>Domain :</h9>-->
                                    <!--<ul>-->
                                    <!--{% for data in whois_data %}-->
                                    <!--{{data.sh_domain}}-->
                                    <!--{% endfor %}-->
                                    <!--</ul>-->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h9>Country :</h9>
                                </td>
                                <td>
                                 
                                        {% for data in whois_data %}
                                       {{data.country}}
                                        {% endfor %}
                                   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h9>ASN :</h9>
                                </td>
                                <td>
                                   {{target.domain}}
                                        {% for data in whois_data %}
                                     {{data.asn}} 
                                        {% endfor %}
                                
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h9>ASN CIDR:</h9>
                                </td>
                                <td>
                                   {{target.domain}}
                                        {% for data in whois_data %}
                                     {{data.asn_cidr}} 
                                        {% endfor %}
                                
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h9>Registry :</h9>
                                </td>
                                <td>
                                   {{target.domain}}
                                        {% for data in whois_data %}
                                     {{data.asn_registry}} 
                                        {% endfor %}
                                
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h9>Status:</h9>
                                </td>
                                <td>
                                   {{target.domain}}
                                        {% for data in whois_data %}
                                     {{data.status}} 
                                        {% endfor %}
                                
                                </td>
                            </tr>
                        <tr>
                            <td>
                        <h9>Description :</h9>
                    </td>
                    <td>
                      
                            {% for data in whois_data %}
                           {{data.description}}
                            {% endfor %}
                      
                    </td>
                </tr> 
                <tr>
                    <td>
                        <h9>Emails :</h9>
                    </td>
                    <td>
                       
                            {% for data in whois_data %}
                          {{data.emails}}
                            {% endfor %}
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <h9>Name :</h9>
                    </td>
                    <td>
                        
                            {% for data in whois_data %}
                           {{data.name}}
                            {% endfor %}
                      
                    </td>
                </tr>
                <tr>
                    <td>

                        <h9>Range :</h9>
                    </td>
                    <td>
                       
                            {% for data in whois_data %}
                          {{data.ip_range}}
                            {% endfor %}
                       
                    </td>
                </tr>
                <tr>
                    <td>

                        <h9>State :</h9>
                    </td>
                    <td>
                       
                            {% for data in whois_data %}
                           {{data.state}}
                            {% endfor %}
                        
                    </td>
                </tr>
               

                                <tr><td>
                        <h9>Registrar Details:</h9>
                    </td>
                    <td>

                            {% for data in whois_data %}
                      {{data.registrar}}
                            {% endfor %}

                    </td>
                </tr>

                                <tr><td>
                        <h9>server info:</h9>
                    </td>
                    <td>

                            {% for data in whois_data %}
                      {{data.server_info}}
                            {% endfor %}

                    </td>
                </tr>

                                <tr><td>
                        <h9>Domain Owner:</h9>
                    </td>
                    <td>

                            {% for data in whois_data %}
                      {{data.owner}}
                            {% endfor %}

                    </td>
                </tr>

                                <tr><td>
                        <h9>Owner City:</h9>
                    </td>
                    <td>

                            {% for data in whois_data %}
                      {{data.owner_city}}
                            {% endfor %}

                    </td>
                </tr>

                                <tr><td>
                        <h9>Owner State:</h9>
                    </td>
                    <td>

                            {% for data in whois_data %}
                      {{data.owner_state}}
                            {% endfor %}

                    </td>
                </tr>

                                <tr><td>
                        <h9>Owner Country:</h9>
                    </td>
                    <td>

                            {% for data in whois_data %}
                      {{data.owner_country}}
                            {% endfor %}

                    </td>
                </tr>

                                <tr><td>
                        <h9>Owner Company:</h9>
                    </td>
                    <td>

                            {% for data in whois_data %}
                      {{data.owner_company}}
                            {% endfor %}

                    </td>
                </tr>

                                <tr><td>
                        <h9>Domain Emails:</h9>
                    </td>
                    <td>

                            {% for data in whois_data %}
                      {{data.domain_emails}}
                            {% endfor %}

                    </td>
                </tr>

                                

            </table>
</div>
                                        <div role="tabpanel" class="tab-pane" id="dns">

                                            <table class="table">
                                         <tr>
                                              <td>
                                            <h9>SOA Records :</h9>
                                              </td>
                                         <td>
                                                
                                                    {% for data in domain_dnsrecords %}
                                              {{data.soa_records}}
                                                    {% endfor %}
                                                
                                        </td>
                                    </tr>
                                      <tr>
                                        <td>
                                                <h9>MX Records :</h9>

                                                </td>
                                          <td>
                                                
                                                    {% for data in domain_dnsrecords %}
                                                  {{data.mx_records}}
                                                    {% endfor %}
                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h9>TXT Records :</h9>
                                            </td>
                                            <td>
                                                
                                                    {% for data in domain_dnsrecords %}
                                                  {{data.txt_records}}
                                                    {% endfor %}
                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h9>A Records :</h9>
                                            </td>
                                            <td>
                                               
                                                    {% for data in domain_dnsrecords %}
                                                    {{data.a_records}}
                                                    {% endfor %}
                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h9>Name Server Records :</h9>
                                            </td>
                                            <td>
                                               
                                                    {% for data in domain_dnsrecords %}
                                                   {{data.name_server_records}}
                                                    {% endfor %}
                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h9>CNAME Records :</h9>
                                              </td>
                                              <td>  
                                                    {% for data in domain_dnsrecords %}
                                                    {{data.cname_records}}
                                                    {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h9>AAAA Records :</h9>
                                                </td>
                                            <td>
                                                    {% for data in domain_dnsrecords %}
                                                    {{data.aaaa_records}}<
                                                    {% endfor %}
                                            </td>
                                        </tr>
                               </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="ports">
                                            <table class="table">
                                                <thead>
                                                    <th>Port</th>
                                                    <th>Name</th>
                                                    <th>State</th>
                                                </thead>
                                                <tbody>
                                                    {% for port in ports %}
                                                    <tr>
                                                        <td>{{port.port}}</td>
                                                         <td>{{port.name}}</td>
                                                        <td>{{port.status}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="hosts">
                                             <table class="table">
                                                <thead>
                                                    <th>Host</th>
                                                    <th>State</th>
                                                </thead>
                                                <tbody>
                                                    {% for port in hosts %}
                                                    <tr>
                                                        <td>{{port.host}}</td>
                                                        <td>{{port.status}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                        <div role="tabpanel" class="tab-pane" id="vhosts">
                                            <table class="table">
                                                <h4>Server Details</h4>
                                            <tr>
                                                <td>
                                                    <h9>Registrar Server PTR :</h9>
                                                </td>
                                                <td>

                                                        {% for data in virtualhosts %}
                                                     {{data.main_domain}}
                                                        {% endfor %}

                                                </td>
                                            </tr>
                                            
                                        <tr>
                                            <td>
                                        <h9>Server Location :</h9>
                                    </td>
                                    <td>

                                            {% for data in virtualhosts %}
                                           {{data.location}}
                                            {% endfor %}

                                    </td>
                                </tr>
                              <!--   <tr>
                                    <td>
                                        <h9>Routedesc :</h9>
                                    </td>
                                    <td>

                                            {% for data in virtualhosts %}
                                          {{data.routedesc}}
                                            {% endfor %}

                                    </td>
                                </tr> -->
                                <tr>
                                    <td>
                                        <h9>Autonomous System Name :</h9>
                                    </td>
                                    <td>

                                            {% for data in virtualhosts %}
                                           {{data.asname}}
                                            {% endfor %}

                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <h9>BGp Route :</h9>
                                    </td>
                                    <td>

                                            {% for data in virtualhosts %}
                                          {{data.bgp_route}}
                                            {% endfor %}

                                    </td>
                                </tr>
                                
                            </table>
                            <table class="table">
                                <h4>Virtual Hosts</h4>
                                <tr>
                                                <td>
                                                    <h9>Virtual Hosts :</h9>
                                                </td>
                                                <td>
                                                   {% for data in vhosts %}
                                                        
                                                       {{data.v_hosts}} <br>
                                                        {% endfor %}

                                                </td>
                                            </tr>
                                            
                            </table>


                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="emails">
                                            <table class="table">
                                                <tbody>
                                                    {% for web in emails %}
                                                    <tr>
                                                        
                                                        
                                                        <td>{{web.email_records}}</td>
                                                      
                                                      
                                                    </tr>
                                                      {% endfor %}
                                                </tbody>
                                            </table>
                                          
                                        </div>

                                    <div role="tabpanel" class="tab-pane" id="pagelinks">
                                        <table class="table">
                                            <tbody>
                                                    {% for link in links %}
                                                    <tr>


                                                        <td>{{link.links}}</td>


                                                    </tr>
                                                      {% endfor %}
                                                </tbody>
                                        </table>
                                    </div>
                                        <div role="tabpanel" class="tab-pane" id="app_info">
                                            
                                            <table class="table">
                                                <tbody>
                                                    {% for web in webs %}
                                                    <tr>
                                                        <td>{{web.key}}</td>
                                                        
                                                        
                                                        <td>{{web.app_info}}</td>
                                                      
                                                      
                                                    </tr>
                                                      {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                      
                                    </div>

                             

                        </div>

                    
                    </div>
{% endblock  %}