{% extends 'scot/base.html' %}
{% load staticfiles %}

{% block content %}

<script>
    function frmValidate() {
        var val = document.frmDomin.name.value;
        if (/^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+$/.test(val)) {
            alert("Valid Domain Name");
            return true;
        } else {
            alert("Enter Valid Domain Name");
            val.name.focus();
            return false;
        }
    }
</script>
<div class="row">
<div class="col-lg-12">

							<!-- Marketing campaigns -->
							<div class="panel panel-flat">

								<div class="page-header page-header-default">
					<div class="page-header-content">
							<div class="heading-btn-group">
				
							</div>
					
					</div>

			
				</div>
			
								<!-- 
                                    <div class="row">
                                     <div class="col-md-8 col-md-offset-2">   
                               
                                		<form class="form-inline" action="." method="post">
                                			{% csrf_token %}
											  <div class="form-group">
												  <label for="sel1">Country:</label>
												  <select class="form-control" id="country" name="country" class='form-control' required>
												  	<option disabled value="" selected hidden >Select Country</option>
												  	{% for object in objects_list %}
												    
												    <option value="{{object.id}}">{{object.country}}</option>
												    {% endfor %}
												  </select>
												</div>
											<div class="form-group">
											  <label for="sel1">Target Category:</label>
											  <select class="form-control" id="category" name="category" required onchange="this.form.submit()">
											    	<option selected disabled value="" hidden>Select Category</option>
											    {% for query in queryset %}
											    <option value={{query.id}}>{{query.category}}</option>
											      {% endfor %}
											  </select>
											</div>
											
										</form> 
									 </div>
									</div> -->
                         <hr />

                         {% if targets %}
                         	<div style="text-align: center;">
									<h6 class="panel-title">Targets  Monitored</h6>
								
							<div>
									<table class="table text-nowrap">
										<thead >
											<tr>
												
												<th >Target </th>
												<th >Name</th>
												<th >Country</th>
												<th >Industry/Sector</th>
												<th >IP</th>
												<th >Status</th>
											
												<th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
											</tr>
										</thead>
										<tbody>
										
											
										

										
											{% for target in targets %}
											<tr>
												<td>
													
													<div class="media-left">
														<div class="">{{target.target}}</div>
													</div>
												</td>
												<td>{{target.name}}</td>
												<td>{{target.country}}</td>
												<td>{{target.category}}  {{target.sector}}</td>
												<td>{{target.ip}}</td>
												<td>{% if target.status == "up" %}<i class=" icon-circle2" style="color: green"></i>{% else %}<i class=" icon-circle2" style="color: red;"></i>{% endif %}</td>

												<td class="text-center">
													<ul class="icons-list">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="{% url 'details' target.id %}">Previous Scans</a></li>
																<li><a href="{% url 'scan' target.id %}">Run New Full Scans</a></li>
																<li><a href="">Previous Vulnerability Scan</a></li>
																<li><a href="">Run New Vulnerability Scan</a></li>
																
																
															</ul>
														</li>
													</ul>
												</td>

											</tr>
										{% endfor %}
										</tbody>
									</table>
								
								</div>


							{% endif %}



							</div>
						</div>

					
					</div>





{% endblock  %}