

				

							

						
                                   

						
								
								
								 <a href=".d_target" data-toggle="modal" class="btn btn-info btn-sm" style="float: right;"> Add this target to the List</a>
								 <div class="modal fade d_target " tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title" id="exampleModalLabel">Define a New Target</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									      <div class="modal-body">
									        <form class="form-horizontal" method="post" action=".">
									        	{% csrf_token %}
									        	<fieldset>
													<div class="form-group has-info">
														<div class="col-md-10 col-md-offset-1">
															
															<div class="form-group has-info" style="text-align: left;">
																<label for="domain" class="control-label">Target Domain</label>
																<input type="text" class="form-control"  placeholder="e.g example.com" value="example.com" name="domain">
															</div>
																
															
															<div class="form-group has-info" style="text-align: left;">
																<label for="name" class="control-label">Target Name</label>
																<input type="text" class="form-control"  placeholder="e.g example LTD" name="name">
															</div>
															<div class="form-group has-info" style="text-align: left;">
																<label for="country" class="control-label">Target Country</label>
																<input type="text" class="form-control"  placeholder="e.g Kenya" name="country">
															</div>
															
																
															<div class="form-group has-info" style="text-align: left;">
																<label for="sector" class="control-label">Target Sector</label>
																<input type="text" class="form-control"  placeholder="e.g Energy" name="sector">
															</div>
														
										
																<input type="hidden" class="form-control" id="ip" name="ip" value="{{ip}}" placeholder="Energy Sector">
																<input type="hidden" class="form-control"  name="status" value="{{status}}" placeholder="Energy Sector">
															</div>
														</div>
													</fieldset>

									       
									       
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									        <button type="submit" value="btnform2" name= "btnform2" class="btn btn-info">Save Target</button>
									      </div>
											 </form>					
									    </div>
									  </div>
									</div>
								