{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		
		{% include 'include/css.html' %}
	</head>

	<body>
		
		<!-- Header starts -->
		{% include 'include/header.html' %}
		<!-- Header ends -->

		<!-- Container fluid Starts -->
		<div class="container-fluid">

			<!-- Navbar starts -->
			{% include 'include/navbar.html' %}
			<!-- Navbar ends -->

			<!-- Dashboard wrapper starts -->
			<div class="dashboard-wrapper">

				<!-- Top bar starts -->
				{% block page_top_bar %}
				
				{% endblock %}

				<!-- Main container starts -->
				<div class="main-container">
					

					{% block content %}


					<!-- Row starts -->
					<div class="row gutter">
						
					</div>
					<!-- Row ends -->

					{% endblock %}
				</div>
				<!-- Main container ends -->
			
			</div>
			<!-- Dashboard Wrapper End -->
		</div>
		
		<!-- Container fluid ends -->

		<!-- Footer Start -->
		{% include 'include/footer.html' %}
		<!-- Footer end -->

		{% include 'include/js.html' %}




		{% block javasccript %}
		{% endblock %}
	
	</body>
</html>