{% extends 'scot/base.html' %}

{% block page_top_bar %}
<style type="text/css">
    .nav-tabs { border-bottom: 2px solid #DDD; }
    
    .nav-tabs > li > a { border: none; color: #666; }
       
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

</style>
<div class="top-bar clearfix">
    <div class="row gutter">
        <div class="col-lg-2 col-md-2 col-sm- col-xs-12">
            <div class="page-title" style="font-size: 9px;">
                <h4>{{target}} </h4>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
              
                        <li role="presentation" ><a href="#whois" aria-controls="whois" role="tab" data-toggle="tab">Whois/Dig</a></li>
                        <li role="presentation"><a href="#dns" aria-controls="profile" role="tab" data-toggle="tab">DNS Records</a></li>
                        <!-- <li role="presentation"><a href="#ports" aria-controls="messages" role="tab" data-toggle="tab">Ports</a></li>
                        <li role="presentation"><a href="#hosts" aria-controls="settings" role="tab" data-toggle="tab">Hosts</a></li> -->
                        <li role="presentation"><a href="#vhosts" aria-controls="settings" role="tab" data-toggle="tab"> Virtual Hosts</a></li>
                        <li role="presentation"><a href="#emails" aria-controls="settings" role="tab" data-toggle="tab">Emails</a></li>
                        <!-- <li role="presentation"><a href="#pagelinks" aria-controls="settings" role="tab" data-toggle="tab">Pagelinks</a></li> -->
                        <li role="presentation"><a href="#app_info" aria-controls="settings" role="tab" data-toggle="tab">App Technologies</a></li>
                        <li role="presentation"><a href="#server_info" aria-controls="settings" role="tab" data-toggle="tab">Server Info</a></li>

                       <!--  <li role="presentation"><a href="#info" aria-controls="settings" role="tab" data-toggle="tab">App Information</a></li> -->
                    </ul>
        </div>
    </div>
</div>
                <!-- Top bar ends -->
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12" style="float: right; text-align: right;">
                                   <a href="{% url 'details' target.id %}" class="btn btn-info">View Full Scan Details</a>
                                
                                    <a href="{% url 'discard_scans' target.id %}" class="btn btn-danger">Discard Results</a>
                                
                                    <a href="" class="btn btn-success"><span>Update Scan Details</a>
                                
                        </div>
                    </div>


                                    <!-- Tab panes -->
<div class="tab-content" style="margin-top: -10px;">
<div role="tabpanel" class="tab-pane active" id="whois">
    <div class="row">
        <div class="col-md-6">
<table class="table">
    <h4  class="bluecolor">{{target}} Current Whois Details</h4>
    <tr>
        <td>
         <h9>IP :</h9>
        </td>
        <td>
       
            {% for data in whois_data %}
         {{data.ip}}
            {% endfor %}
       
        <!--<h9>Domain :</h9>-->
        <!--<ul>-->
        <!--{% for data in whois_data %}-->
        <!--{{data.sh_domain}}-->
        <!--{% endfor %}-->
        <!--</ul>-->
        </td>
    </tr>
    <tr>
        <td>
            <h9>Country :</h9>
        </td>
        <td>
         
                {% for data in whois_data %}
               {{data.country}}
                {% endfor %}
           
        </td>
    </tr>
    <tr>
        <td>
            <h9>ASN :</h9>
        </td>
        <td>
           {{target.domain}}
                {% for data in whois_data %}
             {{data.asn}} 
                {% endfor %}
        
        </td>
    </tr>
    <tr>
        <td>
            <h9>ASN CIDR:</h9>
        </td>
        <td>
           {{target.domain}}
                {% for data in whois_data %}
             {{data.asn_cidr}} 
                {% endfor %}
        
        </td>
    </tr>
    <tr>
        <td>
            <h9>Registry :</h9>
        </td>
        <td>
           {{target.domain}}
                {% for data in whois_data %}
             {{data.asn_registry}} 
                {% endfor %}
        
        </td>
    </tr>
    <tr>
        <td>
            <h9>Status:</h9>
        </td>
        <td>
           {{target.domain}}
                {% for data in whois_data %}
             {{data.status}} 
                {% endfor %}
        
        </td>
    </tr>
    <tr>
        <td>
        <h9>Description :</h9>
        </td>
        <td>
          
                {% for data in whois_data %}
               {{data.description}}
                {% endfor %}
          
        </td>
    </tr> 
    <tr>
        <td>
            <h9>Emails :</h9>
        </td>
        <td>
           
                {% for data in whois_data %}
              {{data.emails}}
                {% endfor %}
            
        </td>
    </tr>
    <tr>
        <td>
            <h9>Name :</h9>
        </td>
        <td>
            
                {% for data in whois_data %}
               {{data.name}}
                {% endfor %}
          
        </td>
    </tr>
    <tr>
        <td>

            <h9>Range :</h9>
        </td>
        <td>
           
                {% for data in whois_data %}
              {{data.ip_range}}
                {% endfor %}
           
        </td>
    </tr>
    <tr>
        <td>

            <h9>State :</h9>
        </td>
        <td>
           
                {% for data in whois_data %}
               {{data.state}}
                {% endfor %}
            
        </td>
    </tr>
   

     <tr><td>
            <h9>Registrar Details:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.registrar}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>server info:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.server_info}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Domain Owner:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.owner}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Owner City:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.owner_city}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Owner State:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.owner_state}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Owner Country:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.owner_country}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Owner Company:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.owner_company}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Domain Emails:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.domain_emails}}
                {% endfor %}

        </td>
    </tr>

                    

</table>
</div>
        <div class="col-md-6">
<table class="table">
    <h4  class="bluecolor">{{target}}  Whois Re-scan Details </h4>
    
    <tr>
        <td>
         <h9>IP :</h9>
        </td>
        <td>
       
            {% for data in whois_staging %}
         {{data.ip}}
            {% endfor %}
       
        <!--<h9>Domain :</h9>-->
        <!--<ul>-->
        <!--{% for data in whois_data %}-->
        <!--{{data.sh_domain}}-->
        <!--{% endfor %}-->
        <!--</ul>-->
        </td>
    </tr>
    <tr>
        <td>
            <h9>Country :</h9>
        </td>
        <td>
         
                {% for data in whois_staging %}
               {{data.country}}
                {% endfor %}
           
        </td>
    </tr>
    <tr>
        <td>
            <h9>ASN :</h9>
        </td>
        <td>
           {{target.domain}}
                {% for data in whois_staging %}
             {{data.asn}} 
                {% endfor %}
        
        </td>
    </tr>
    <tr>
        <td>
            <h9>ASN CIDR:</h9>
        </td>
        <td>
           {{target.domain}}
                {% for data in whois_staging %}
             {{data.asn_cidr}} 
                {% endfor %}
        
        </td>
    </tr>
    <tr>
        <td>
            <h9>Registry :</h9>
        </td>
        <td>
           {{target.domain}}
                {% for data in whois_staging %}
             {{data.asn_registry}} 
                {% endfor %}
        
        </td>
    </tr>
    <tr>
        <td>
            <h9>Status:</h9>
        </td>
        <td>
           {{target.domain}}
                {% for data in whois_staging %}
             {{data.status}} 
                {% endfor %}
        
        </td>
    </tr>
    <tr>
        <td>
        <h9>Description :</h9>
        </td>
        <td>
          
                {% for data in whois_staging %}
               {{data.description}}
                {% endfor %}
          
        </td>
    </tr> 
    <tr>
        <td>
            <h9>Emails :</h9>
        </td>
        <td>
           
                {% for data in whois_staging %}
              {{data.emails}}
                {% endfor %}
            
        </td>
    </tr>
    <tr>
        <td>
            <h9>Name :</h9>
        </td>
        <td>
            
                {% for data in whois_staging %}
               {{data.name}}
                {% endfor %}
          
        </td>
    </tr>
    <tr>
        <td>

            <h9>Range :</h9>
        </td>
        <td>
           
                {% for data in whois_staging %}
              {{data.ip_range}}
                {% endfor %}
           
        </td>
    </tr>
    <tr>
        <td>

            <h9>State :</h9>
        </td>
        <td>
           
                {% for data in whois_staging %}
               {{data.state}}
                {% endfor %}
            
        </td>
    </tr>
   

     <tr><td>
            <h9>Registrar Details:</h9>
        </td>
        <td>

                {% for data in whois_staging %}
          {{data.registrar}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>server info:</h9>
        </td>
        <td>

                {% for data in whois_staging %}
          {{data.server_info}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Domain Owner:</h9>
        </td>
        <td>

                {% for data in whois_staging %}
          {{data.owner}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Owner City:</h9>
        </td>
        <td>

                {% for data in whois_staging %}
          {{data.owner_city}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Owner State:</h9>
        </td>
        <td>

                {% for data in whois_staging %}
          {{data.owner_state}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Owner Country:</h9>
        </td>
        <td>

                {% for data in whois_staging %}
          {{data.owner_country}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Owner Company:</h9>
        </td>
        <td>

                {% for data in whois_staging %}
          {{data.owner_company}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Domain Emails:</h9>
        </td>
        <td>

                {% for data in whois_staging %}
          {{data.domain_emails}}
                {% endfor %}

        </td>
    </tr>

                    

</table>
</div>
</div>
</div>
<div role="tabpanel" class="tab-pane" id="dns">
    <div class="row">
        <div class="col-md-6">
 <h4  class="bluecolor">{{target}} DNS Details</h4>
    <table class="table">
         <tr>
              <td>
            <h9>SOA Records :</h9>
              </td>
         <td>
                
                    {% for data in domain_dnsrecords %}
              {{data.soa_records}}
                    {% endfor %}
                
        </td>
    </tr>
      <tr>
        <td>
                <h9>MX Records :</h9>

                </td>
          <td>
                
                    {% for data in domain_dnsrecords %}
                  {{data.mx_records}}
                    {% endfor %}
               
            </td>
        </tr>
        <tr>
            <td>
                <h9>TXT Records :</h9>
            </td>
            <td>
                
                    {% for data in domain_dnsrecords %}
                  {{data.txt_records}}
                    {% endfor %}
               
            </td>
        </tr>
        <tr>
            <td>
                <h9>A Records :</h9>
            </td>
            <td>
               
                    {% for data in domain_dnsrecords %}
                    {{data.a_records}}
                    {% endfor %}
               
            </td>
        </tr>
        <tr>
            <td>
                <h9>Name Server Records :</h9>
            </td>
            <td>
               
                    {% for data in domain_dnsrecords %}
                   {{data.name_server_records}}
                    {% endfor %}
               
            </td>
        </tr>
        <tr>
            <td>
                <h9>CNAME Records :</h9>
              </td>
              <td>  
                    {% for data in domain_dnsrecords %}
                    {{data.cname_records}}
                    {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <h9>AAAA Records :</h9>
                </td>
            <td>
                    {% for data in domain_dnsrecords %}
                    {{data.aaaa_records}}<
                    {% endfor %}
            </td>
        </tr>
</table>
</div>
       <div class="col-md-6">
 <h4  class="bluecolor">{{target}} DNS Re-scan Results</h4>
    <table class="table">
         <tr>
              <td>
            <h9>SOA Records :</h9>
              </td>
         <td>
                
                    {% for data in domain_dnsrecords_staging %}
              {{data.soa_records}}
                    {% endfor %}
                
        </td>
    </tr>
      <tr>
        <td>
                <h9>MX Records :</h9>

                </td>
          <td>
                
                    {% for data in domain_dnsrecords_staging %}
                  {{data.mx_records}}
                    {% endfor %}
               
            </td>
        </tr>
        <tr>
            <td>
                <h9>TXT Records :</h9>
            </td>
            <td>
                
                    {% for data in domain_dnsrecords_staging %}
                  {{data.txt_records}}
                    {% endfor %}
               
            </td>
        </tr>
        <tr>
            <td>
                <h9>A Records :</h9>
            </td>
            <td>
               
                    {% for data in domain_dnsrecords_staging %}
                    {{data.a_records}}
                    {% endfor %}
               
            </td>
        </tr>
        <tr>
            <td>
                <h9>Name Server Records :</h9>
            </td>
            <td>
               
                    {% for data in domain_dnsrecords_staging %}
                   {{data.name_server_records}}
                    {% endfor %}
               
            </td>
        </tr>
        <tr>
            <td>
                <h9>CNAME Records :</h9>
              </td>
              <td>  
                    {% for data in domain_dnsrecords_staging %}
                    {{data.cname_records}}
                    {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <h9>AAAA Records :</h9>
                </td>
            <td>
                    {% for data in domain_dnsrecords_staging %}
                    {{data.aaaa_records}}<
                    {% endfor %}
            </td>
        </tr>
</table>
</div>
</div>
</div>
<!-- <div role="tabpanel" class="tab-pane" id="ports">
    <h4  class="bluecolor">{{target}} Ports</h4>
    <div class="row">
        <div class="col-md-11">
            <div id="tags-cloud">
                        {% for port in ports %} 
            <div class="{% if port.status == 'open' %} tag-4 tag {% elif port.status == 'closed' %} tag-3 tag {% elif port.status == 'filtered' %} tag-1 tag {% endif %}">{{port.port}}</div>
            {% endfor %}
            
        </div>
        </div>
        <div class="col-md-1">
             <h4  class="bluecolor">Key</h4>
            
        </div>
    </div>
 <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >
    Tarbular Presentation
  </a>
 <div class="collapse" id="collapseExample">
  <div class="card card-body">
    <table class="table">
        <thead>
            <th>Port</th>
            <th>Name</th>
            <th>State</th>
        </thead>
        <tbody>
            {% for port in ports %}
            <tr>
                <td>{{port.port}}</td>
                 <td>{{port.name}}</td>
                <td>{{port.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

</div> -->
<!-- <div role="tabpanel" class="tab-pane" id="hosts">
    <h4  class="bluecolor">{{target}} Hosts</h4>
     <table class="table">
        <thead>
            <th>Host</th>
            <th>State</th>
        </thead>
        <tbody>
            {% for port in hosts %}
            <tr>
                <td>{{port.host}}</td>
                <td>{{port.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
 -->
<div role="tabpanel" class="tab-pane" id="vhosts">
    <div class="row">
        <div class="col-md-6">
    <h4  class="bluecolor">{{target}} Virtual Hosts</h4>
        <table class="table">
            <h4>Server Details</h4>
            <tr>
                <td>
                    <h9>Registrar Server PTR :</h9>
                </td>
                <td>

                        {% for data in virtualhosts %}
                     {{data.main_domain}}
                        {% endfor %}

                </td>
            </tr>
            
        <tr>
            <td>
                <h9>Server Location :</h9>
            </td>
             <td>

            {% for data in virtualhosts %}
           {{data.location}}
            {% endfor %}

            </td>
        </tr>
        <tr>
            <td>
                <h9>Autonomous System Name :</h9>
            </td>
            <td>

                    {% for data in virtualhosts %}
                   {{data.asname}}
                    {% endfor %}

            </td>
        </tr>
        <tr>
            <td>

                <h9>BGp Route :</h9>
            </td>
            <td>

                    {% for data in virtualhosts %}
                  {{data.bgp_route}}
                    {% endfor %}

            </td>
        </tr>
                                
</table>
<table class="table">
    <h4>Virtual Hosts</h4>
    <tr>
                    <td>
                        <h9>Virtual Hosts :</h9>
                    </td>
                    <td>
                       {% for data in vhosts %}
                            
                           {{data.v_hosts}} <br>
                            {% endfor %}

                    </td>
                </tr>
                
</table>
</div>
   <div class="col-md-6">
    <h4  class="bluecolor">{{target}} Virtual Hosts Re-scan Results </h4>
        <table class="table">
            <h4>Server Details</h4>
            <tr>
                <td>
                    <h9>Registrar Server PTR :</h9>
                </td>
                <td>

                        {% for data in virtualhosts_staging %}
                     {{data.main_domain}}
                        {% endfor %}

                </td>
            </tr>
            
        <tr>
            <td>
                <h9>Server Location :</h9>
            </td>
             <td>

            {% for data in virtualhosts_staging %}
           {{data.location}}
            {% endfor %}

            </td>
        </tr>
        <tr>
            <td>
                <h9>Autonomous System Name :</h9>
            </td>
            <td>

                    {% for data in virtualhosts_staging %}
                   {{data.asname}}
                    {% endfor %}

            </td>
        </tr>
        <tr>
            <td>

                <h9>BGp Route :</h9>
            </td>
            <td>

                    {% for data in virtualhosts_staging %}
                  {{data.bgp_route}}
                    {% endfor %}

            </td>
        </tr>
                                
</table>
<table class="table">
    <h4>Virtual Hosts</h4>
    <tr>
                    <td>
                        <h9>Virtual Hosts :</h9>
                    </td>
                    <td>
                       {% for data in vhosts_staging %}
                            
                           {{data.v_hosts}} <br>
                            {% endfor %}

                    </td>
                </tr>
                
</table>
</div>
</div>
</div>
<div role="tabpanel" class="tab-pane" id="emails">
    <div class="row">
        <div class="col-md-6">
     <h4  class="bluecolor">{{target}} Emails</h4>
    <table class="table">
        <tbody>
            {% for web in emails %}
            <tr>
                
                
                <td>{{web.email_records}}</td>
              
              
            </tr>
              {% endfor %}
        </tbody>
    </table>
  </div>
    <div class="col-md-6">
     <h4  class="bluecolor">{{target}} Emails Rescan Results</h4>
    <table class="table">
        <tbody>
            {% for web in emails_staging %}
            <tr>
                
                
                <td>{{web.email_records}}</td>
              
              
            </tr>
              {% endfor %}
        </tbody>
    </table>
  </div>
</div>
</div>
<!-- 
<div role="tabpanel" class="tab-pane" id="pagelinks">
     <h4  class="bluecolor">{{target}} Page Links</h4>
    <table class="table">
        <tbody>
                {% for link in links %}
                <tr>


                    <td>{{link.links}}</td>


                </tr>
                  {% endfor %}
            </tbody>
    </table>
</div> -->
<div role="tabpanel" class="tab-pane" id="app_info">
    <div class="row">
        <div class="col-md-6">
     <h4  class="bluecolor">{{target}} Web Application Information</h4>
    
    <table class="table">
        <tbody>
            {% for web in webs %}
            <tr>
                <td>{{web.key}}</td>
                
                
                <td>{{web.app_info}}</td>
              
              
            </tr>
              {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-md-6">
     <h4  class="bluecolor">{{target}} Web Application Information Rescun Results</h4>
    
    <table class="table">
        <tbody>
            {% for web in webs_staging %}
            <tr>
                <td>{{web.key}}</td>
                
                
                <td>{{web.app_info}}</td>
              
              
            </tr>
              {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
                                      
</div>

                             

</div>

</div>
{% endblock  %}

{% block javasccript %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script type="text/javascript">
Highcharts.chart('container', {
    chart: {
        type: 'areaspline'
    },
    title: {
        text: ' <h4  class="bluecolor">{{target}} Periodic Ping Chart</h4>'
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        verticalAlign: 'top',
        x: 150,
        y: 100,
        floating: true,
        borderWidth: 1,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
    },
    xAxis: {
        categories: [
        {% for track in tracks %}
            '{{track.date}}',
            {% endfor %}
        ],
        plotBands: [{ 
            from: 4.5,
            to: 6.5,
            color: 'rgba(68, 170, 213, .2)'
        }]
    },
    yAxis: {
        title: {
            text: 'Ping Status'
        }
    },
    // tooltip: {
    //     shared: false,
    //     valueSuffix: ' units'
    // },
    credits: {
        enabled: false
    },
    plotOptions: {
        areaspline: {
            fillOpacity: 0.5
        }
    },
    series: [ {
        name: 'Ping Status',
        data: [ {% for track in tracks %}{% if track.status == "up" %}1 {% else %} 0{% endif %},{% endfor %} ]
    }]
});



  var $container = $('#tags-cloud');
    $container.masonry({
      columnWidth: 50,
      itemSelector: '.tag'
    });
</script>


{% endblock %}