{% extends 'scot/base.html' %}

{% block page_top_bar %}
<!-- <style type="text/css">
    .nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

</style> -->
              <div class="top-bar clearfix">
                    <div class="row gutter">
                        <div class="col-lg-3 col-md-3 col-sm- col-xs-12">
                            <div class="page-title" style="font-size: 9px;">
                                <h4> Exploit Management Center </h4>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <ul class="nav nav-tabs" role="tablist">
                                
                                        <li role="presentation" ><a href="#whois" aria-controls="whois" role="tab" data-toggle="tab">Exploit Center</a></li>
                                        <li role="presentation"><a href="#dns" aria-controls="profile" role="tab" data-toggle="tab">Results</a></li>
                                        <li role="presentation"><a href="#ports" aria-controls="messages" role="tab" data-toggle="tab">Files</a></li>
                                       
                                    </ul>
                        </div>
                    </div>
                </div>
{% endblock %}

{% block content %}


</div>
{% endblock  %}