{% extends 'scot/base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block page_top_bar %}

<div class="top-bar clearfix">
					<div class="row gutter">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="page-title">
								<h4>{{target.name}} Employees</h4>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<!-- <ul class="right-stats" id="mini-nav-right">
								<li>
									<a href="javascript:void(0)" class="btn btn-danger"><span>895</span>Sales</a>
								</li>
								<li>
									<a href="javascript:void(0)" class="btn btn-success"><span>125</span>Leads</a>
								</li>
							</ul> -->
						</div>
					</div>
				</div>
				<!-- Top bar ends -->
{% endblock %}
{% block content %}

<div class="row">
	<!-- <div class="col-md-3">
		
<div id="container" style="min-width: 310px; height: 300px; max-width: 600px; margin: 0 auto"></div>

</div> -->
<div class="col-md-12">
	<!-- <h4>Targets Monitored</h4> -->
   <a href="{% url 'employees_emails_scan' target.id %}" data-toggle="modal" class="button btn btn-info btn-sm"><span class="icon-plus4"></span> Scan For Employees </a>  <a href="{% url 'employees_emails_scan' target.id %}" class="button btn btn-info btn-sm"> Scan for Employees Emails </a>  <a href="" class="button btn btn-info btn-sm"> Scan for Employees Phone Numbers </a>
  
	
   <table id="fixedHeader" class="table table-striped  no-margin">
    <thead style="background-color: #2698e2 !important;">
		        <tr>
		            <th>Employee</th>
		            <th>Linkedin Profile Link</th>
		            <th>Email</th>
                <th>Phone Number</th>
		        </tr>
    		</thead>
    <tbody>
            {% for employee in employees %}
     
			<tr>
				<td>{{employee.name}}</td>
        <td>{{employee.linked_url}}</td>
				<td>{% for emp in employee.email_harvest_db_set.all %}
        {{emp.email_records}} <br>{% endfor %}</td>
				<td style="text-align: right;">
{% for emp in employee.phone_number.all %}
        {{emp.phone_number}} <br>{% endfor %}
        </td>
      </tr>
        
			{% endfor %}

    </tbody>
    
</table>
    
			
									</div>
								</div>
							


						

</div>
</div>
</div>
{% endblock  %}
{% block javasccript %}
<script type="text/javascript">
  $(document).on('click', '.confirm-delete', function(){
    return confirm('Are you sure you want to delete this target?');
})
</script>

{% endblock %}