{% extends 'scot/base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block page_top_bar %}
<!-- <script type="text/javascript">
	$('.table-responsive').on('show.bs.dropdown', function () {
     $('.table-responsive').css( "overflow", "inherit" );
});

$('.table-responsive').on('hide.bs.dropdown', function () {
     $('.table-responsive').css( "overflow", "auto" );
})
</script> -->
<style type="text/css">

</style>
<div class="top-bar clearfix">
					<div class="row gutter">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="page-title">
								<h4>Dashboard</h4>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<!-- <ul class="right-stats" id="mini-nav-right">
								<li>
									<a href="javascript:void(0)" class="btn btn-danger"><span>895</span>Sales</a>
								</li>
								<li>
									<a href="javascript:void(0)" class="btn btn-success"><span>125</span>Leads</a>
								</li>
							</ul> -->
						</div>
					</div>
				</div>
				<!-- Top bar ends -->
{% endblock %}

{% block content %}		
<div class="panel panel-flat">
	
<div class="panel-body">

<form class="form-horizontal" method="post" name="frmDomin" action="." >
	{% csrf_token %}
	<fieldset>
		<!-- <legend class="text-bold bluecolor ">Search Target</legend> -->
		<div class="form-group has-info">
			
			<div class="col-md-10 col-md-offset-1">
				<div class="input-group">
					<input type="text" class="form-control" id="name" name="name" placeholder="domain, email, ip address, or name" required>
					<span class="input-group-btn">
						<button type="submit" value="form1" name="form1" class="btn btn-info ">Search</button>
					</span>
				</div>
			</div>
		</div>
	</fieldset>
</form>
</div>
</div>
{% if results or emailresults or serachresults %}
<div class="row">
	<div class="col-md-9">
	</div>
	<div class="col-md-2">
		<a href="#e_target" data-toggle="modal" class="btn btn-info btn-sm" style="float: right;"> Define Email Target</a>
	</div>
	<div class="col-md-1">
 <a href="#d_target" data-toggle="modal" class="btn btn-info btn-sm" style="float: right;"> Define Target</a>
</div>
</div>
 <div class="modal fade " id="d_target" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Define a New Target</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="form-horizontal" method="post" action=".">
	        	{% csrf_token %}
	        	<fieldset>
					<div class="form-group has-info">
						<div class="col-md-10 col-md-offset-1">
											
							{% bootstrap_form form %}			
														
						</div>
					</fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" value="btnform2" name= "btnform2" class="btn btn-info">Save Target</button>
      </div>
		 </form>					
    </div>
  </div>
</div>

 <div class="modal fade " id="e_target" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Define a New Target</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form class="form-horizontal" method="post" action=".">
	        	{% csrf_token %}
	        	<fieldset>
					<div class="form-group has-info">
						<div class="col-md-10 col-md-offset-1">
								<div class="form-group">
							    <label for="exampleInputEmail1">Target Name</label>
							    <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter Name ">
							   
							  </div>			
								<div class="form-group">
							    <label for="exampleInputEmail1">Target Email address</label>
							    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter email">
							   
							  </div>	
														
						</div>
					</fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" value="btnform3" name= "btnform3" class="btn btn-info">Save Target</button>
      </div>
		 </form>					
    </div>
  </div>
</div>
{% endif %}			
                        

{% if targets %}
<h4 class="bluecolor">TARGETS LINKED TO {{email|upper}}</h4>
{% for target in targets %}
	<div class="well" style="background-color: #e6e6e6">
<div class="row gutter">

	<div class="col-md-4" style="border-right-color: red;border-right-width: 3px;border-right-style: solid;">

<h5 class="bluecolor">{{target.name|upper}}</h5>
<table class="table">
	<tbody>
		<tr>
			<td><strong>Name:</strong></td>
			<td>{{target.name}}</td>
		</tr>
		<tr>
			<td><strong>Domain:</strong></td>
			<td>{{target}}</td>
		</tr>
		<tr>
			<td><strong>IP Address:</strong></td>
			<td>{{target.ip}}</td>
		</tr>
		<tr>
			<td><strong>Ping Status:</strong></td>
			<td>{{target.status}}</td>
		</tr>
		<tr>
			<td><strong>Country:</strong></td>
			<td>{{target.country}}</td>
		</tr>
		<tr>
			<td><strong>Data Source:</strong></td>
			<td>{{target.category}}</td>
		</tr>

        <tr>
			<td><strong>Service Provider:</strong></td>
			<td>{{target.name}}</td>
		</tr>
	
	</tbody>
</table>
</div>

<div class="col-md-8">
<div class="row gutter">
	<div class="col-lg-3 col-md-3 col-sm-6">
		<a href="#v_target{{target.id}}" data-toggle="modal" >
		<div class="mini-widget">
			<div class="mini-widget-heading clearfix blackcolor">
				<div class="pull-left">Virtual Hosts</div>
				
			</div>
			<div class="mini-widget-body clearfix">
				<div class="pull-left">
					<i class="icon-globe"></i>
				</div>
				<div class="pull-right number">{{target.virtual_host_set.all.count}}</div>
			</div>
		</div>
	 </a>
	 <div class="modal fade " id="v_target{{target.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Virtual Hosts Linked to {{target}}</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	{% if target.virtual_host_set.all %}
	      	{% for v in target.virtual_host_set.all %}
	      	{{v.vhosts}}<br>
	      	{% endfor %}
	      	{% else %}
	      	This target has no virtual Hosts
	      	{% endif %}
	       
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        
      </div>
						
    </div>
  </div>
</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
		<a href="#h_target{{target.id}}" data-toggle="modal" >
		<div class="mini-widget">
			<div class="mini-widget-heading clearfix blackcolor">
				<div class="pull-left">Hosts</div>
			</div>
			<div class="mini-widget-body clearfix">
				<div class="pull-left">
					<i class="icon-settings_ethernet"></i>
				</div>
				<div class="pull-right number">{{target.host_set.all.count}}</div>
			</div>
		</div>
	</a>
	 <div class="modal fade " id="h_target{{target.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Hosts Linked to {{target}}</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	{% if target.host_set.all %}
	      	{% for v in target.host_set.all %}
	      	{{v.host}}, {{v.status}}<br>
	      	{% endfor %}
	      	{% else %}
	      	This target has no  Hosts
	      	{% endif %}
	       
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        
      </div>
						
    </div>
  </div>
</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
		<a href="#email_target{{target.id}}" data-toggle="modal" >
		<div class="mini-widget">
			<div class="mini-widget-heading clearfix blackcolor">
				<div class="pull-left">Emails</div>
			</div>
			<div class="mini-widget-body clearfix">
				<!-- <div class="pull-left">
					<i class="icon-speaker_notes"></i>
				</div> -->
				<div class="pull-right number">{{target.email_harvest_db_set.all.count}}</div>
			</div>
		</div>
	</a>
	<div class="modal fade " id="email_target{{target.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Email Addresses Linked to {{target}}</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	{% if target.email_harvest_db_set.all %}
	      	{% for v in target.email_harvest_db_set.all %}
	      	{{v.email_records}}<br>
	      	{% endfor %}
	      	{% else %}
	      	This target has no  Hosts
	      	{% endif %}
	       
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        
      </div>
						
    </div>
  </div>
</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-6">
		<a href="#port_target{{target.id}}" data-toggle="modal" >
		<div class="mini-widget">
			<div class="mini-widget-heading clearfix blackcolor">
				<div class="pull-left">Open Ports</div>
			</div>
			<div class="mini-widget-body clearfix">
				<div class="pull-left">
					<i class="icon-emoji-happy"></i>
				</div>
				<div class="pull-right number">{{target.port_set.all.count}}</div>
			</div>
		</div>
	</a>
	<div class="modal fade " id="port_target{{target.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">{{target}} Open Ports</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	{% if target.port_set.all %}
	      	{% for v in target.port_set.all %}
	      	{{v.port}} ,
	      	{% endfor %}
	      	{% else %}
	      	This target has no  Hosts
	      	{% endif %}
	       
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        
      </div>
						
    </div>
  </div>
</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6">
		<a href="#phone_target{{target.id}}" data-toggle="modal" >
		<div class="mini-widget">
			<div class="mini-widget-heading clearfix blackcolor">
				<div class="pull-left">Phone Numbers</div>
			</div>
			<div class="mini-widget-body clearfix">
				<div class="pull-left">
					<i class="icon-landline"></i>
				</div>
				<div class="pull-right number">
				{{target.phone_number_set.all.count}}
				</div>
			</div>
		</div>
	</a>
	<div class="modal fade " id="phone_target{{target.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Phone Numbers Linked to {{target}}</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	{% if target.phone_number_set.all %}
	      	{% for v in target.phone_number_set.all %}
	      	{{v.phone_number}} ,
	      	{% endfor %}
	      	{% else %}
	      	No Phone Numbers Linked to this target
	      	{% endif %}
	       
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        
      </div>
						
    </div>
  </div>
</div>
	</div>
</div>
 <div class="panel panel-red">
	<div class="panel-heading">
		<h4 class="bluecolor">ACTIONS</h4>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table  no-margin">
				<tbody>
					
					<tr>
					<td><a href="{% url 'details' target.id %}" class="button btn btn-sm btn-black">Full Scan Details</a></td>
					<td><a href="{% url 'scan' target.id %}" class="button btn btn-sm btn-black">Full Re-Scan</a></td>
						<td><a href="{% url 'vulnerabilities' target.id %}" class="button btn btn-sm btn-black">Vulnerabilities</a></td>

						<td><a href="" class="button btn btn-sm btn-black">Vulnerability Re-Scan</a></td>
					
						<td><a href="" class="button btn btn-sm btn-black">Open Target's EMC</a></td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
</div>
</div>
{% endfor %}									
								
	{% else %}
	{% if results %}
	<div style="text-align: center;">
		<h6 class="panel-title">The target <font color="#42A5F5">{{domain}}</font> does not exist  in the system</h6>
		
		Below are the target's web search results. {% if ip %} Target IP: <font color="#42A5F5">{{ip}}</font> , status:  <font color="#42A5F5">{{status}}</font> {% endif %}
    </div>
    <div style="text-align: left;">
    	<table class="table">
    		<thead>
    			<th>Title</th>
    			<th>Url</th>
    		</thead>
    	
    	<tbody>
    		{% for r in results %}
    		<tr>
    			{% for m in r %}
    			<td><a href="{{m}}" target="_blank">{{m}}</a></td>
    			{% endfor %}
    		</tr>
          {% endfor %}
    		
    	</tbody>
	</table>
{% endif %}

<!-- Email -->
{% if emailresults %}
<div class="row">
	<div class="col-md-9">
	<h6 class="panel-title">The target <span class="bluecolor">{{email}}</span> does not exist  in the system</h6>
									
Below are the target's web search results.  , Target Verified?: <span class="bluecolor">{{verified}}</span> , Target Domain: <span class="bluecolor">{{domain}}</span>
</div>
</div> 
    <div style="text-align: left;">
    	<table class="table">
    		<thead>
    			<th>Title</th>
    			<th>Url</th>
    		</thead>
    	
    	<tbody>
    		{% for r in emailresults %}
    		<tr>
    			{% for m in r %}
    			<td><a href="{{m}}" target="_blank">{{m}}</a></td>
    			{% endfor %}
    		</tr>
          {% endfor %}
    		
    	</tbody>
	</table>
{% endif %}

<!-- Text Results -->
{% if serachresults %}
<div style="text-align: center;">
	<h6 class="panel-title">{{search}} is not linked to any Target in the system</h6>
	Below are the {{search}} web search results.   
</div>
<div style="text-align: left;">
	<table class="table">
		<thead>
			<th>Title</th>
			<th>Url</th>
		</thead>
	
	<tbody>
		{% for r in serachresults %}
		<tr>
			{% for m in r %}
			<td><a href="{{m}}" target="_blank">{{m}}</a></td>
			{% endfor %}
		</tr>
      {% endfor %}
		
	</tbody>
</table>
{% endif %}
</div>
{% endif %}
							<!-- /marketing campaigns -->
								






						</div>

					</div>


{% endblock  %}