{% extends 'scot/base.html' %}
{% load staticfiles %}
{% block page_top_bar %}

<div class="top-bar clearfix">
          <div class="row gutter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="page-title">
                <h4>{{target}} Scan</h4>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <!-- <ul class="right-stats" id="mini-nav-right">
                <li>
                  <a href="javascript:void(0)" class="btn btn-danger"><span>895</span>Sales</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="btn btn-success"><span>125</span>Leads</a>
                </li>
              </ul> -->
            </div>
          </div>
        </div>
        <!-- Top bar ends -->
{% endblock %}
{% block content %}
  {% if targets %}
      <div class="row" >
          <h6 class="panel-title">Targets being monitored</h6>
                  <table class="table  no-margin">
                      <thead>
                        <tr>
                          <th>Target</th>
                          <th>Name</th>
                          <th>Country</th>
                          <th>Sector</th>
                          <th>IP</th>
                          <th>Ping Status</th>
                          <th>Action</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for target in targets %}
                        <tr>
                          <td>{{target.target}}</td>
                          <td>{{target.name}}</td>
                          <td>{{target.country}}</td>
                          <td>{{target.category}}  {{target.sector}}</td>
                          <td>{{target.ip}}</td>
                          <td>{% if target.status == "up" %}<i class="icon-controller-record" style="color: green; font-size: 20px;"></i>{% else %}<i class="icon-controller-record" style="color: red; size: 50px;"></i>{% endif %}</td>
                          <td >
                            <ul class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="icon-lines "></span></button>
                        <ul class="dropdown-menu">
                         <li><a href="{% url 'details' target.id %}">Details</a></li>
                        <li><a href="{% url 'scan' target.id %}">Re-Scan</a></li>
                        <li><a href="">View Vulnerabilities</a></li>
                        <li><a href="">Vulnerability Re-scan</a></li>
                        </ul>
                      </ul>
                        
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  <progress class="progress-bar" value="0"  style="display:none; margin-bottom: 1em;"></progress>
                </div>

          
             <h4>Scan Progress</h4>
              <div class='progress-wrapper'>
                <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
              </div>
             
              <div id="progress-bar-message">Waiting for progress to start...</div>
              <p>Wait till the scan progress shows success then click <a href="{% url 'compare_scans' target.id %}" class="button btn btn-success">here to view scan results</a>  
                <a href="{% url 'cancel_scan' task_id %}" class="button btn btn-sm btn-danger" style="float: right;">Cancel Scan</a>
              {% endif %}




            
              
</div>
{% endblock  %}

{% block javasccript %}
<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
{% if task_id %}
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
     <script type="text/javascript">
        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
            $(function () {
              CeleryProgressBar.initProgressBar(progressUrl)
            });


    </script>
{% endif %}
{% endblock %}
