 
     <li ><a href="" class="active" style="background-color: red; color: white;">SCAN RESULTS</a></li>
    <li><a href="#track" aria-controls="track" role="tab" data-toggle="tab">Scan Dashboard</a></li>
    <li><a href="">OSINT Scan Results</a>
      <ul class="submenu">
        <li><a href="#whois" aria-controls="whois" role="tab" data-toggle="tab">Whois/Dig</a></li>
        <li><a href="#dns" aria-controls="profile" role="tab" data-toggle="tab">DNS Records</a></li>
        <li><a href="#emails" aria-controls="settings" role="tab" data-toggle="tab">Emails</a></li>
        <li><a href="#phone_numbers" aria-controls="settings" role="tab" data-toggle="tab">Phone Numbers</a></li>
      </ul>
    </li>
     <li><a href="">System Scan Results</a>
      <ul class="submenu">
        <li><a href="#ports" aria-controls="messages" role="tab" data-toggle="tab">Ports</a></li>
        <li><a href="#hosts" aria-controls="settings" role="tab" data-toggle="tab">Hosts</a></li>
        <li><a href="#vhosts" aria-controls="settings" role="tab" data-toggle="tab">Virtual Hosts</a></li>
      </ul>
    </li>

    <li><a href="">Web Scan Results</a>
      <ul class="submenu">
        <li><a href="#app_info" aria-controls="settings" role="tab" data-toggle="tab">App Technologies</a></li>
        <li><a href="#pagelinks" aria-controls="settings" role="tab" data-toggle="tab">Page Links</a></li>
      </ul>
    </li>
     
   
 	
