{% load staticfiles %}
{% load scan_nav %}
<!DOCTYPE html>
<html lang="en">
	<head>
		
		{% include 'include/css.html' %}
	</head>

	<body>
		
	{% include 'include/header.html' %}
		<!-- Header ends -->

		<!-- Container fluid Starts -->
		<div class="container-fluid">

		{% include 'include/navbar.html' %}
			<!-- Navbar ends -->

			<!-- Dashboard wrapper starts -->
		<div class="dashboard-wrapper">

				<!-- Top bar starts -->
		{% block page_top_bar %}
				
		{% endblock %}

				<!-- Main container starts -->
		<div class="main-container">
		

					
					<!-- Row ends -->
		<div class="row gutter">
		    <div class="col-lg-3" >
		        <div class="vertical-menu">
						<div class="pushdown">
							 <nav class="navigation">
  								<ul class="mainmenu">

							{% block right_navbar %}

							{% get_scan_links %}

								<li><a href="{% url 'employees' target.slug target.id %}">Target's Employees Details </a>
    							</li>
							{% endblock %}
							 </ul>
						</nav>
						<!-- <div style="padding-top: 10px">
							{% if  target %}
						 <a href="{% url 'vulnerabilities' target.id %}" class="btn btn-danger">Vulnerabilies</a>
						        <a href="{% url 'target-emc' target.id target.slug %}" class="btn btn-warning">Open Target's EMC</a>
						        {% endif %}
						        </div>  -->
		            
			      </div>
		        </div>
		    </div>
		    <div class="col-lg-9">
		    	{% block content %}
		    	{% endblock %}
		    </div>
		</div>
					
	</div>
				<!-- Main container ends -->
			
	</div>
			<!-- Dashboard Wrapper End -->
	</div>
		
		<!-- Container fluid ends -->

		<!-- Footer Start -->
		{% include 'include/footer.html' %}
		<!-- Footer end -->

		{% include 'include/js.html' %}




		{% block javasccript %}
		{% endblock %}
	
	</body>
</html>