{% extends 'scot/scan_base.html' %}

{% block page_top_bar %}

<div class="top-bar clearfix">
    <div class="row gutter">
        <div class="col-lg-2 col-md-2 col-sm- col-xs-12">
            <div class="page-title" style="font-size: 9px;">
                <h4>{{target}} Details </h4>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
         
        </div>
    </div>
</div>
                <!-- Top bar ends -->
{% endblock %}

{% block content %}
<style type="text/css">
    .navigation {
  width: 300px;
  
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: black;
  text-decoration: none;
  padding: 10px;
  color: white;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: #C5C5C5;
    color: black;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #999;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #666;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
.panel-heading {
    position: relative;
    padding: 12px 15px;
    border: 0;
    background-color: red;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(85%, #ff0000), to(#f2f2f2));
    background-image: -webkit-linear-gradient(black, black 85%, #f2f2f2);
    background-image: -moz-linear-gradient(top, black, black 85%, #f2f2f2);
    background-image: -o-linear-gradient(black, black 85%, #f2f2f2);
    background-image: linear-gradient(red, black 85%, #f2f2f2);
    background-repeat: no-repeat;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #dbdbdb;
    color: white;
}
</style>
                              <!-- Tab panes -->
<div class="tab-content" style="margin-top: -10px;">
<div role="tabpanel" class="tab-pane active" id="track">
<div class="demo-btn-group center-text">
     <div id="container" style="height: 200px"></div>
</div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-12">
            <h4 class="bluecolor">{{target}} Basic Scan Information</h4>
            <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Country</th>
                    <th>Source</th>
                  
                    <th>Domain</th>
                    <th>IP</th>
                     <th>IP Range</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{target.country}}</td>
                    <td>{{target.category}}</td>
                    <td>{{target}}</td>
                    <td>{{target.ip}}</td>
                  
                    <td>{% for data in whois_data %}
                      {{data.ip_range}}
                        {% endfor %}</td>
                      <td>{{target.status}}</td>
                  </tr>
                 
                </tbody>
            </table>
        </div>
    </div>
    <div class="demo-btn-group center-text">
     
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myping">Periodic Ping</button>

        <div id="myping" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pin Status</h4>
              </div>
              <div class="modal-body">
                <table class="table">
                <tbody >
         {% for s in target.targetspingtrack_set.all %} 
        <tr>
            <td>{{s.date}}</td>
            <td>{{s.ip}}</td>
            <td>{{s.status}}</td>  
            
        </tr>
       {% endfor %}
        </tbody>
    </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
    </div>
                               
        <a href="{% url 'vulnerabilities' target.id %}" class="btn btn-danger">Vulnerabilies</a>
        <a href="{% url 'target-emc' target.id target.slug %}" class="btn btn-warning">Open Target's EMC</a>  

    </div>

</div>
<div role="tabpanel" class="tab-pane" id="whois">
<table class="table">
      <div class="panel-heading ">
    <h4 >OSINT | {{target|upper}} WHOIS DETAILS</h4>
      </div>
    <tr>
        <td>
         <h9>IP :</h9>
        </td>
        <td>
       
            {% for data in whois_data %}
         {{data.ip}}
            {% endfor %}
       
        <!--<h9>Domain :</h9>-->
        <!--<ul>-->
        <!--{% for data in whois_data %}-->
        <!--{{data.sh_domain}}-->
        <!--{% endfor %}-->
        <!--</ul>-->
        </td>
    </tr>
    <tr>
        <td>
            <h9>Country :</h9>
        </td>
        <td>
         
                {% for data in whois_data %}
               {{data.country}}
                {% endfor %}
           
        </td>
    </tr>
    <tr>
        <td>
            <h9>ASN :</h9>
        </td>
        <td>
           {{target.domain}}
                {% for data in whois_data %}
             {{data.asn}} 
                {% endfor %}
        
        </td>
    </tr>
    <tr>
        <td>
            <h9>ASN CIDR:</h9>
        </td>
        <td>
           {{target.domain}}
                {% for data in whois_data %}
             {{data.asn_cidr}} 
                {% endfor %}
        
        </td>
    </tr>
    <tr>
        <td>
            <h9>Registry :</h9>
        </td>
        <td>
           {{target.domain}}
                {% for data in whois_data %}
             {{data.asn_registry}} 
                {% endfor %}
        
        </td>
    </tr>
    <tr>
        <td>
            <h9>Status:</h9>
        </td>
        <td>
           {{target.domain}}
                {% for data in whois_data %}
             {{data.status}} 
                {% endfor %}
        
        </td>
    </tr>
    <tr>
        <td>
        <h9>Description :</h9>
        </td>
        <td>
          
                {% for data in whois_data %}
               {{data.description}}
                {% endfor %}
          
        </td>
    </tr> 
    <tr>
        <td>
            <h9>Emails :</h9>
        </td>
        <td>
           
                {% for data in whois_data %}
              {{data.emails}}
                {% endfor %}
            
        </td>
    </tr>
    <tr>
        <td>
            <h9>Name :</h9>
        </td>
        <td>
            
                {% for data in whois_data %}
               {{data.name}}
                {% endfor %}
          
        </td>
    </tr>
    <tr>
        <td>

            <h9>Range :</h9>
        </td>
        <td>
           
                {% for data in whois_data %}
              {{data.ip_range}}
                {% endfor %}
           
        </td>
    </tr>
    <tr>
        <td>

            <h9>State :</h9>
        </td>
        <td>
           
                {% for data in whois_data %}
               {{data.state}}
                {% endfor %}
            
        </td>
    </tr>
   

     <tr><td>
            <h9>Registrar Details:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.registrar}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>server info:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.server_info}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Domain Owner:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.owner}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Owner City:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.owner_city}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Owner State:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.owner_state}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Owner Country:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.owner_country}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Owner Company:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.owner_company}}
                {% endfor %}

        </td>
    </tr>

                    <tr><td>
            <h9>Domain Emails:</h9>
        </td>
        <td>

                {% for data in whois_data %}
          {{data.domain_emails}}
                {% endfor %}

        </td>
    </tr>

                    

</table>
</div>
<div role="tabpanel" class="tab-pane" id="dns">
    <div class="panel-heading">
 <h4>OSINT | {{target|upper}} DNS RECORDS</h4>
</div>
    <table class="table">
         <tr>
              <td>
            <h9>SOA Records :</h9>
              </td>
         <td>
                
                    {% for data in domain_dnsrecords %}
              {{data.soa_records}}
                    {% endfor %}
                
        </td>
    </tr>
      <tr>
        <td>
                <h9>MX Records :</h9>

                </td>
          <td>
                
                    {% for data in domain_dnsrecords %}
                  {{data.mx_records}}
                    {% endfor %}
               
            </td>
        </tr>
        <tr>
            <td>
                <h9>TXT Records :</h9>
            </td>
            <td>
                
                    {% for data in domain_dnsrecords %}
                  {{data.txt_records}}
                    {% endfor %}
               
            </td>
        </tr>
        <tr>
            <td>
                <h9>A Records :</h9>
            </td>
            <td>
               
                    {% for data in domain_dnsrecords %}
                    {{data.a_records}}
                    {% endfor %}
               
            </td>
        </tr>
        <tr>
            <td>
                <h9>Name Server Records :</h9>
            </td>
            <td>
               
                    {% for data in domain_dnsrecords %}
                   {{data.name_server_records}}
                    {% endfor %}
               
            </td>
        </tr>
        <tr>
            <td>
                <h9>CNAME Records :</h9>
              </td>
              <td>  
                    {% for data in domain_dnsrecords %}
                    {{data.cname_records}}
                    {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <h9>AAAA Records :</h9>
                </td>
            <td>
                    {% for data in domain_dnsrecords %}
                    {{data.aaaa_records}}<
                    {% endfor %}
            </td>
        </tr>
</table>
</div>
<div role="tabpanel" class="tab-pane" id="ports">
    <div class="panel-heading">
    <h4>SYSTEM SCAN | {{target|upper}} PORTS</h4>
</div>
    <div class="row">
        <div class="col-md-11">
            <div id="tags-cloud">
                        {% for port in ports %} 
            <div class="{% if port.status == 'open' %} tag-4 tag {% elif port.status == 'closed' %} tag-3 tag {% elif port.status == 'filtered' %} tag-1 tag {% endif %}">{{port.port}}</div>
            {% endfor %}
            
        </div>
        </div>
        <div class="col-md-1">
             <h4  class="bluecolor">Key</h4>
            
        </div>
    </div>
 <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >
    Tarbular Presentation
  </a>
 <div class="collapse" id="collapseExample">
  <div class="card card-body">
    <table class="table">
        <thead>
            <th>Port</th>
            <th>Name</th>
            <th>State</th>
            <th>Product</th>
            <th>Version</th>
            <th>Server Extra Info</th>
            <th>CPE</th>
        </thead>
        <tbody>
            {% for port in ports %}
            <tr>
                <td>{{port.port}}</td>
                 <td>{{port.name}}</td>
                <td>{{port.status}}</td>
                <td>{{ port.product }}</td>
                <td>{{ port.version }}</td>
                <td>{{ port.server_extrainfo }}</td>
                <td>{{ port.cpe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

</div>
<div role="tabpanel" class="tab-pane" id="hosts">
    <div class="panel-heading">
    <h4>SYSTEM SCAN | {{target|upper}} HOSTS</h4>
</div>
     <table class="table">
        <thead>
            <th>Host</th>
            <th>State</th>
        </thead>
        <tbody>
            {% for port in hosts %}
            <tr>
                <td>{{port.host}}</td>
                <td>{{port.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div role="tabpanel" class="tab-pane" id="vhosts">
    <div class="panel-heading">
    <h4>SYSTEM SCAN | {{target|upper}} VIRTUAL HOSTS</h4>
</div>
        <table class="table">
            <h4>Server Details</h4>
            <tr>
                <td>
                    <h9>Registrar Server PTR :</h9>
                </td>
                <td>

                        {% for data in virtualhosts %}
                     {{data.main_domain}}
                        {% endfor %}

                </td>
            </tr>
            
        <tr>
            <td>
                <h9>Server Location :</h9>
            </td>
             <td>

            {% for data in virtualhosts %}
           {{data.location}}
            {% endfor %}

            </td>
        </tr>
        <tr>
            <td>
                <h9>Autonomous System Name :</h9>
            </td>
            <td>

                    {% for data in virtualhosts %}
                   {{data.asname}}
                    {% endfor %}

            </td>
        </tr>
        <tr>
            <td>

                <h9>BGp Route :</h9>
            </td>
            <td>

                    {% for data in virtualhosts %}
                  {{data.bgp_route}}
                    {% endfor %}

            </td>
        </tr>
                                
</table>
<table class="table">
    <h4>Virtual Hosts</h4>
    <tr>
                    <td>
                        <h9>Virtual Hosts :</h9>
                    </td>
                    <td>
                       {% for data in vhosts %}
                            
                           {{data.v_hosts}} <br>
                            {% endfor %}

                    </td>
                </tr>
                
</table>
<h1></h1>
<div class="ball_wrap">
    <div class="blue_ball align-baseline taggy">{{target}}</div>
     {% for data in vhosts %}
    <div class="green_ball taggy">{{data.v_hosts}}</div>
    {% endfor %}
</div>
</div>
<div role="tabpanel" class="tab-pane" id="emails">
    <div class="panel-heading">
     <h4>OSINT | {{target|upper}} EMAILS</h4>
 </div>
    <table class="table">
        <tbody>
            {% for web in emails %}
            <tr>
                
                
                <td>{{web.email_records}}</td>
              
              
            </tr>
              {% endfor %}
        </tbody>
    </table>
  
</div>

<div role="tabpanel" class="tab-pane" id="pagelinks">
    <div class="panel-heading">
     <h4>WEB SCAN | {{target|upper}} PAGE LINKS</h4>
 </div>
    <table class="table">
        <tbody>
                {% for link in links %}
                <tr>


                    <td style="max-width: 100px; overflow: hidden;text-overflow: ellipsis;
    white-space: nowrap;"><a href="{{link.links}}" class="linkcolor" target="_blank">{{link.links|linebreaksbr}}</td>


                </tr>
                  {% endfor %}
            </tbody>
    </table>
</div>
<div role="tabpanel" class="tab-pane" id="app_info">
    <div class="panel-heading">
     <h4 >WEB SCAN | {{target|upper}} WEB APPLICATION INFORMATION</h4>
    </div>
    <table class="table">
        <tbody>
            {% for web in webs %}
            <tr>
                <td>{{web.key}}</td>
                
                
                <td>{{web.app_info}}</td>
              
              
            </tr>
              {% endfor %}
        </tbody>
    </table>
</div>
   <div role="tabpanel" class="tab-pane" id="phone_numbers">
    <div class="panel-heading">
     <h4 >OSINT | {{target|upper}} PHONE NUMBERS</h4>
    </div>
    <div class="row">
         {% for data in phone_numbers %}
         <div class="col-md-1">
            {{data.phone_number}}
        </div>
        {% endfor %}
    </div>
</div>                                   
   </div>                          
</div>
{% endblock  %}

{% block javasccript %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script type="text/javascript">
Highcharts.chart('container', {
    chart: {
        type: 'areaspline'
    },
    title: {
        text: ' <h4  class="bluecolor">{{target}} Periodic Ping Chart</h4>'
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        verticalAlign: 'top',
        x: 150,
        y: 100,
        floating: true,
        borderWidth: 1,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
    },
    xAxis: {
        categories: [
        {% for track in tracks %}
            '{{track.date}}',
            {% endfor %}
        ],
        plotBands: [{ 
            from: 4.5,
            to: 6.5,
            color: 'rgba(68, 170, 213, .2)'
        }]
    },
    yAxis: {
        title: {
            text: 'Ping Status'
        }
    },
    // tooltip: {
    //     shared: false,
    //     valueSuffix: ' units'
    // },
    credits: {
        enabled: false
    },
    plotOptions: {
        areaspline: {
            fillOpacity: 0.5
        }
    },
    series: [ {
        name: 'Ping Status',
        data: [ {% for track in tracks %}{% if track.status == "up" %}1 {% else %} 0{% endif %},{% endfor %} ]
    }]
});



  var $container = $('#tags-cloud');
    $container.masonry({
      columnWidth: 50,
      itemSelector: '.tag'
    });
</script>


{% endblock %}