{% extends 'scot/base.html' %}
{% load staticfiles %}
{% block page_top_bar %}

<div class="top-bar clearfix">
					<div class="row gutter">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="page-title">
								<h4>Targets</h4>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<!-- <ul class="right-stats" id="mini-nav-right">
								<li>
									<a href="javascript:void(0)" class="btn btn-danger"><span>895</span>Sales</a>
								</li>
								<li>
									<a href="javascript:void(0)" class="btn btn-success"><span>125</span>Leads</a>
								</li>
							</ul> -->
						</div>
					</div>
				</div>
				<!-- Top bar ends -->
{% endblock %}
{% block content %}
<style type="text/css">
	@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow: inherit;
    }
}
}
tr {
   max-height: 5px !important;
   height: 5px !important;
}
</style>
<div class="row">
	<div class="col-md-5">
		<div id="container"></div>
</div>
<div class="col-md-7">
	<h4>Targets Per Country</h4>
	{% if targets %}
   <table class="table table-responsive table-hover">
    <thead style="background-color: #2698e2 !important;">
		        <tr>
		            <th>Country</th>
		            <th>Targets up</th>
		            <th>Targets down</th>
		            Total
		            <!-- <th>Country</th>
		            <th>Category</th>
		            <th>IP</th>
		            <th>Status</th>
		            <th>Action</th> -->
		        </tr>
    		</thead>
    <tbody>
        {% for target in targets %}
			<tr class="clickable" data-toggle="collapse" data-target="#{{target.id}}" aria-expanded="false" aria-controls="group-of-rows-1">
				<td>{{target.target}}</td>
				<td>{{target.name}}</td>
				<!-- <td>{{target.country}}</td>
				<td>{{target.category}}  {{target.sector}}</td>
				<td>{{target.ip}}</td>
				<td>{% if target.status == "up" %}<i class="icon-controller-record" style="color: green; font-size: 30px;"></i>{% else %}<i class="icon-controller-record" style="color: red;font-size:30px;"></i>{% endif %}</td>
				<td >
					<ul class="dropdown">
		  <button class="btn btn-sm btn-info dropdown-toggle" type="button" data-toggle="dropdown">
		  <span class="icon-lines "></span></button>
		  <ul class="dropdown-menu">
		    <li><a href="{% url 'details' target.id %}">View</a></li>
			<li><a href="{% url 'scan' target.id %}">Re-Scan</a></li>
			<li><a href="">View Vulnerabilities</a></li>
			<li><a href="">Vulnerability Re-scan</a></li>
		  </ul>
		</ul>
			</td> -->
		
        </tr>
        <tbody id="{{target.id}}" class="collapse" style="background-color: #bcdff6;">
         {% for s in target.targetspingtrack_set.all %} 
        <tr>
            <td>{{s.date}}</td>
            <td>{{s.ip}}</td>
          	<td>{{s.status}}</td>  
            
        </tr>
       {% endfor %}
    	</tbody>
			{% endfor %}
    </tbody>
    
</table>
    
			
									</div>
								</div>
							</div>
                         


							{% endif %}

</div>
</div>
{% endblock  %}
{% block javasccript %}
<style type="text/css">
	@import 'https://code.highcharts.com/css/highcharts.css';

#container {
	height: 400px;
	max-width: 800px;
	margin: 0 auto;
}

/* Link the series colors to axis colors */
.highcharts-color-0 {
	fill: #ff4d4d;
	stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
	stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 text {
	fill: #7cb5ec;
}
.highcharts-color-1 {
	fill: #90ed7d;
	stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
	stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 text {
	fill: #90ed7d;
}


.highcharts-yaxis .highcharts-axis-line {
	stroke-width: 2px;
}

</style>
<script src="https://code.highcharts.com/js/highcharts.js"></script>
<script src="https://code.highcharts.com/js/modules/exporting.js"></script>
<script type="text/javascript">
	Highcharts.chart('container', {

    chart: {
        type: 'column'
    },

    title: {
        text: 'Targets by Status'
    },

    yAxis: [{
        className: 'highcharts-color-0',
        title: {
            text: 'Primary axis'
        }
    }, {
        className: 'highcharts-color-1',
        opposite: true,
        title: {
            text: 'Secondary axis'
        }
    }],

    plotOptions: {
        column: {
            borderRadius: 5
        },
        series: {
            cursor: 'pointer',
            point: {
                events: {
                    click: function () {
                        location.href = 'https://en.wikipedia.org/wiki/' +
                            this.options.key;
                    }
                }
            }
        }
    },
    series: [{
        data: [{
        	y:2,
        key: 'down' }]
    }, {
        data: [{
        	y:40,
            key: 'up' } ],
       
    }]

});
</script>
{% endblock %}