{% extends 'scot/base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block page_top_bar %}

<div class="top-bar clearfix">
					<div class="row gutter">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="page-title">
								<h4>Targets</h4>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<!-- <ul class="right-stats" id="mini-nav-right">
								<li>
									<a href="javascript:void(0)" class="btn btn-danger"><span>895</span>Sales</a>
								</li>
								<li>
									<a href="javascript:void(0)" class="btn btn-success"><span>125</span>Leads</a>
								</li>
							</ul> -->
						</div>
					</div>
				</div>
				<!-- Top bar ends -->
{% endblock %}
{% block content %}

<div class="row">
	<!-- <div class="col-md-3">
		
<div id="container" style="min-width: 310px; height: 300px; max-width: 600px; margin: 0 auto"></div>

</div> -->
<div class="col-md-12">
	<!-- <h4>Targets Monitored</h4> -->
   <a href="#d_target" data-toggle="modal" class="button btn btn-black btn-sm"><span class="icon-plus4"></span> New Target </a>  <a href="{% url 'socialemails' %}" class="button btn btn-info btn-sm"> View Email Targets </a>
  
	 <div class="modal fade " id="d_target" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Define a New Target</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" method="post" action=".">
            {% csrf_token %}
            <fieldset>
          <div class="form-group has-info">
            <div class="col-md-10 col-md-offset-1">
                      
              {% bootstrap_form form %}     
                            
            </div>
          </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" value="btnform2" name= "btnform2" class="btn btn-info">Save Target</button>
      </div>
     </form>          
    </div>
  </div>
</div>
   <table id="fixedHeader" class="table table-striped  no-margin">
    <thead style="background-color: #2698e2 !important;">
		        <tr>
		            <th>Target</th>
		            <th>Target Name </th>
                <th>IP  </th>
		            <th>Status</th>
                <th style="text-align: right;">Action</th>
		            <th style="text-align: right;">Action</th>
		        </tr>
    		</thead>
    <tbody>
      {% if targets %}
        {% for target in targets %}
			<tr>
				<td>{{target.target}}</td>
				<td>{{target.name}}</td>
        <td>{{target.ip}}</td>
				<td>{% if target.status == "up" %}<i class="icon-controller-record" style="color: green; font-size: 30px;"></i>{% else %}<i class="icon-controller-record" style="color: red;font-size:30px;"></i>{% endif %}</td>
				<td style="text-align: right;">
           <ul class="dropdown">
              <button class="btn btn-sm btn-info dropdown-toggle buttonright" style="height: 30px; width: 100px;" type="button" data-toggle="dropdown">
              <span class="icon-lines " style="font-size:30px;"></span></button>
              <ul class="dropdown-menu">
                <li><a href="{% url 'details' target.id %}">Details</a></li>
              <li><a href="{% url 'scan' target.id %}">Re-Scan</a></li>
              <li><a href="{% url 'vulnerabilities' target.id %}">View Vulnerabilities</a></li>
              <li><a href="">Vulnerability Re-scan</a></li>
              <li><a href="{% url 'compare_scans'  target.id %}">Compare Latest Scans </a></li>
              </ul>
            </ul>

               
              </td>
            <td style="text-align: right;">
              <a href="{% url 'update_target' target.id %}" class="button btn  btn-sm btn-black"> <span class="icon-edit"></span></a>
                <a href="{% url 'target_delete'  target.id %}"  class="confirm-delete button btn  btn-sm btn-danger"> <span class="icon-delete"></span></a>
					
			</td>
		
        </tr>
        
			{% endfor %}
        {% endif %}
    </tbody>
    
</table>
    
			
									</div>
								</div>
							


						

</div>
</div>
</div>
{% endblock  %}
{% block javasccript %}
<script type="text/javascript">
  $(document).on('click', '.confirm-delete', function(){
    return confirm('Are you sure you want to delete this target?');
})
</script>

{% endblock %}