{% extends 'scot/base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block page_top_bar %}

<div class="top-bar clearfix">
					<div class="row gutter">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="page-title">
								<h4>Update {{target}} Details</h4>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<!-- <ul class="right-stats" id="mini-nav-right">
								<li>
									<a href="javascript:void(0)" class="btn btn-danger"><span>895</span>Sales</a>
								</li>
								<li>
									<a href="javascript:void(0)" class="btn btn-success"><span>125</span>Leads</a>
								</li>
							</ul> -->
						</div>
					</div>
				</div>
				<!-- Top bar ends -->
{% endblock %}

{% block content %}	
<div class="row gutter">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
	<div class="well">
	<form  method="post" name="frmDomin" action="." >
		{% csrf_token %}
		<fieldset>
			<!-- <legend class="text-bold bluecolor ">Search Target</legend> -->
			<div class="form-group has-info">
				
				
					{% bootstrap_form form %}
				 <button type="submit" class="btn btn-info" style="float: right;">Save Target</button>
			</div>
		</fieldset>
	</form>
	
	</div>
</div>
	<div class="col-md-3">
	</div>
</div>
 
       
     


{% endblock  %}