{% extends 'scot/base.html' %}

{% block page_top_bar %}

              <div class="top-bar clearfix">
                    <div class="row gutter">
                        <div class="col-lg-3 col-md-3 col-sm- col-xs-12">
                            <div class="page-title" style="font-size: 9px;">
                                <h4> Vulnerability Analysis </h4>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
           


            


{% block content %}

<div class="row">
 <div class="col-md-12">
 <h2>Web</h2>
  <table id="fixedHeader" class="table table-striped  no-margin">
      <thead>
        <tr>
        
        <th>Tech/Params</th>
        <th>Vulnerability</th>
       
        <th>Risk</th>

        <th>More</th>
        
        </tr>
        </thead>
                 <tbody>
                    {% for vuln in vulnerabilities %}
                        <tr >
                           
                            <td >{{vuln.web_vuln_tech}}</td>
                            <td>{{vuln.web_vuln_name}}</td>
                           <!-- {{vuln.web_vuln_description|wordwrap:40|linebreaksbr }} -->
                            <td>{% if vuln.web_vuln_severity_class == "Low" %} <span class="label lable-color label-width">{% elif vuln.web_vuln_severity_class == "Medium" %}  <span class="label label-warning label-width">
                                {% elif vuln.web_vuln_severity_class == "High" %}  <span class="label label-danger label-width">{% endif %} {{vuln.web_vuln_severity_class }}</span></td>
                          
                            <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#w{{vuln.id}}">View More </button>
<!-- {{vuln.web_vuln_ref|wordwrap:40|linebreaksbr }} --></td>
                            

                      </tr>


<!-- Modal -->
<div id="w{{vuln.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{vuln_name}}</h4>
      </div>
      <div class="modal-body">
       <h4 class="bluecolor">Description</h4>
       {{vuln.web_vuln_description }}
        <h4 class="bluecolor">References</h4>
       <a href="{{vuln.web_vuln_ref }}" class="linkcolor" target="_blank">{{vuln.web_vuln_ref|wordwrap:140|linebreaksbr }}</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

                        {% endfor %}
                </tbody>

            </table>
<div class="row">
 <div class="col-md-12">
 <h2>System</h2>
  <table id="fixedHeader" class="table table-striped  no-margin">
      <thead>
        <tr>

        <th>Port/Service</th>
        <th>Vulnerability</th>
        <th>Severity</th>
        <th>CVSS Score</th>
        <th>More</th>
        </tr>
        </thead>
                 <tbody>
                    {% for vuln in sysvulnerabilities %}
                        <tr>

                            <td>{{vuln.service_vuln_tech }}</td>
                            <td class="BreakWord">{{vuln.vulnerability}}</td>
                            <!-- {{vuln.vuln_description|wordwrap:30|linebreaksbr }} -->
                            <td>{{vuln.severity }}</td>
                            <td>{{vuln.cvss_score }}</td>
                            <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#v{{vuln.id}}">View More </button></td>

                    </tr>
                      <div id="v{{vuln.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{vuln_name}}</h4>
      </div>
      <div class="modal-body">
       <h4 class="bluecolor">Description</h4>
       {{vuln.vuln_description }}
        <h4 class="bluecolor">Exploit</h4>
       <a href="{{vuln.web_vuln_ref }}" class="linkcolor" target="_blank">{{vuln.exploit|wordwrap:30|linebreaksbr }}</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
                        {% endfor %}
                </tbody>

            </table>
 </div>
</div>


            </div>
</div>
</div>
{% endblock  %}
